
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>


    {% include 'nav.html' %}
    
    <br>
    <br>
<section class="wrapper3">
    <p>Kenya Dream Holidays is a tour company based in Nairobi. We are professional Safaris organizers. We organize safaris in Kenya and Tanzania.
        We offer safaris in categories like:- budget camping safaris,Lodge safaris, flying safari packages, beach Holidays, exclusive luxury safaris.
         Our aim is to develop Tours, Travel and Safaris for the numerous visitors and friends that we receive here in Kenya.
        </p>
         <p> Our visitors will then be ready to enjoy our safaris in our beautiful national parks and cities. 
            This will be an unforgettable experience for them as they behold our rich flora and fauna. </p>
        
         <p> All the personnel running and working in the company are qualified professionals.</p>
        <br>
         <h3>OUR VISION </h3>
         <br>
         <p> To be the leading Tours, Travel and Safaris operator in the whole of Africa. </p>
        
         <br>
         <h3>OUR MISSION</h3>
         <br>
         <p> To provide quality and satisfying Tours, Travel and Safari services to our clientele both locally and internationally 
            and to promote Tourism in East Africa, providing tourists from all over the world with diversified tourist products
             and services through a team of highly qualified, experienced and motivated staff. </p>
        
             <br>
        <h3>OUR GOAL</h3>
        <br>
         <p> To satisfy our customers by giving the best services according to their demands.</p>
        
         <br>
        <h3>Why Kenya Dream Holidays? </h3> 
        <br>
         <p>Committed to low impact tourism and the protection of Kenya's natural resources. </p> 
         <p>Small Groups. </p> 
         <p> </p>Personalized care and attention. Individualized tours, matching your interests and budget. </p> 
         <p></p>The best safari guides in Kenya </p> 
         <p></p>We have unmatched company-wide expertise. </p> 
         <p></p>We are supporting sustainable and responsible tourism that helps the country. </p> 
         <p></p>Our Safaris are a Great Value. </p> 
</section>

{% include 'footer.html' %}
<!----custom  js file link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static script.js %}"></script>
</body>