{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days Masai Mara Flying safari Package,  3 Days / 2 Nights Sarova Mara Game Camp flying package</h3>
                    <br>
                    <p>Sarova Mara Game Camp is located within the world famous Masai Mara Game Reserve, where its 75 tents capture the true spirit of the Kenyan wild.</p>
                        
                         <br>
                         <p>Your accommodation for the next two nights will be in one of the Mara's luxury tented lodges, allowing you to experience your nights "in the bush" with all of the comforts of home. MARA SAROVA TENTED CAMP is situated on a natural elevation between two streams and is set amidst gardens full of exotic flowers. Each luxury canvas tent, has a permanent roof and floor and attached en-suite bathroom including a flush toilet, sink and hot showers. Meals are served in the spectacular thatched roof dining room. The rolling plains around the tented Camp are teeming with wildebeest, gazelles and zebras, during the migration months and the Camp is situated right in the center of their migration path.</p>
                            <br>
                            <p>Sarova Mara Game Camp is also the ideal choice for those seeking a richer experience of Masai Mara that goes much beyond just game drives. By virtue of its location and layout, the Camp offers an unparalleled plethora of activities and experiences from luxury tented living to bird-watching, mini golf, sport fishing and a unique insight into the Maasai culture at the adjoining Maasai village</p>
                            <br>
                            It also boasts of an extensive collection of exotic birds and butterflies that have taken up residence in its lush surroundings
                            <br>
                            <h3>Day 01: Nairobi - Masai Mara</h3>
                            <br>
                            <p>Pick from your Hotel or JKIA and transferred to Wilson Airport for the scheduled flight to the world famous Masai Mara Game (Wildlife) Reserve. The Mara is actually the northern portion of the great ecosystem in neighboring Tanzania called the Serengeti. It is the home of the "big five" - loin, leopard, buffalo, rhino and elephant as well as cheetah, zebra, giraffe and vast herds of plains antelope and numerous other wildlife.</p>
                            <br>
                            <p>After lunch and some time to relax and perhaps a dip in the pool, you will depart with your driver/guide for an afternoon game drive in search for the big five. The low afternoon light is perfect for photographing the beautiful rolling plains of the Masai Mara. In the early evening as you make your way back to camp, you may get lucky and spot a leopard on the prowl. As the sun starts to set you will return to your camp for dinner and overnight MARA SAROVA TENTED CAMP (LD)</p>
                                <br>

                                <p>
                                    Take this unforgettable balloon safari at Masai Mara for only USD 450 Per Person and if booked together with a safari you get a discount
                                </p>
                                <br>
                                <h3>Day 02: Masai Mara</h3>
                                <br>
                                <p>On morning game drives you will awake before dawn and set out at sunrise in search of game. In between your morning and afternoon game drive you will have ample time to relax and enjoy the ambiance at your luxury tented camp. All meals and overnight MARA SAROVA TENTED CAMP (BLD)</p>
                                <br>
                                <h3>Day 03: Masai Mara - Nairobi</h3>
                                <p>Arise at dawn for an early morning game drive or perhaps end your safari with a spectacular hot-air balloon ride over the Mara. After breakfast you have the a final game drive as you make your way to the Airstrip for the scheduled flight to Nairobi. Upon arrival, you will be met and transferred to your Hotel or JKIA Airport (B).</p>
                                <br>
                                <table style="width:100%">
                                    <tr>
                                      <th>SEASON</th>
                                      <th>Per person sharing</th>
                                      <th>Single room supplement</th>
                                      
                                    </tr>
                                    <br>
                                    <tr>
                                      <td>Feb -31Mar -1
                                        <br>
                                        Sep - 31st Oct 2023</td>
                                      <td>$ </td>
                                      <td>$ </td>
                                      
                                    </tr>
                                    
                                    <tr>
                                        <td>1st Apr-30th Jun
                                            <br>
                                            15th Nov-20th Dec 2023</td>
                                        <td>$ </td>
                                        <td>$ </td>
                                    </tr>
                                    <tr>
                                        <td>1st Jul-31st Aug
                                            <br>
                                            10th Apr -13th Apr 2023</td>
                                      <td>$ </td>
                                      <td>$ </td>
                                    </tr>
                                    
            
            
            
                                  </table>
                                  <br>

                                  <h3>Included in above quotation</h3>
                                  <p>All transfers in Nairobi and Masai Mara</p>
                                  <p>Return Air ticket NBO - MARA</p>
                                  <p>Two nights Accommodation in standard tents on full board basis.</p>
                                  <p>Shared game drives</p>
                                  <p>Park entrance fees.</p>
                                  <p>Transfer to Wilson airport from a city hotel or JKIA.</p>


            
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>
    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
