{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> Hells Gate, Lake Naivasha and cresent Island Day Trip.</h3>
                    <br>
                    <p>After breakfast depart from our Nairobi for a journey south along the floor of the Great Rift valley to Hell's Gate National Park</p>
                        
                         <br>
                         <p>Hell's Gate National Park is a tiny park located between Lake Naivasha and Longonot and Suswa volcanoes and it is an ideal venue for a day or  weekend retreat far from the urban life of Nairobi. The park provides a variety of wildlife, unusual flora and many species of birds and is one of the only two Kenyan Parks where climbing,</p>
                            
                            <br>
                            <p>walking and biking are allowed. Animals seen here include Bushbucks, Dikdiks, Gazelles, Gnus, Hartebeests, Impalas, Klipspringers, Buffaloes, Hyraxes, Zebras, Hyenas, Jackals, Mongooses, Baboons, Monkeys and Porcupines amongst others</p>

                                <br>
                                <p>
                                    The park has historically been an important home for the rare lammergeyer vultures. over 103 species of birds have been recorded in this park, including vultures, Verreaux's Eagles.
                                </p>
                                <br>
                                <p>Have lunch after checking out of the park, Afternoon transfer to Cresent Island by road or by boat ride. Crescent Island Game Park”. Located on Lake Naivasha,  It is private, secure and patrolled by Guides who can accompany anyone who wishes a for guided walk. Depart to Nairobi at 1600hrs.</p>

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>
    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
