{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days Kenya Flying Safari Package</h3>
                    <br>
                    <h3>3 Days 2 Nights OlTukai Lodge Amboseli Flying Package.</h3>
                    <br>
                    <p>The lodge is set in an oasis amidst the surrounding savannah scrub, offering views of one of the world's most awe-inspiring sites–sunrise and sunset over the snowcapped dome of Africa's highest mountain, Mount Kilimanjaro.</p>
                        
                         <br>
                         <p>Ol Tukai is the perfect location to bring out your naturalist instincts. Numerous animals are at home at the Amboseli National Park, elephant, rhino, lion, buffalo, cheetah, leopard, giraffe and gazelle. For the professional or amateur birdwatcher the Ol Tukai bird-walk offers a wide variety of bird species. Ol Tukai offers an unparalleled "return to nature" experience.</p>
                            <br>
                            <p>Amboseli National Park is a great place to visit in its own right. The park is dominated by a partially dry lake bed of evaporated salts. Its landscape is dominated by Acacias and Phoenix palms.
                                Each of the 80 twin rooms at the Ol Tukai are a study in luxury. Each room allows for an uninterrupted breathtaking view of Mt. Kilimanjaro and the wetlands. The furniture is well chosen to enhance its comfortable feel.</p>
                            <br>
                            <p>When the day gets too hot and you wish to cool off, or if you just want to enjoy a swim, the Acacia tree shaded swimming pool offers welcome respite. The adjoining pool bar offers a wide range of snacks and drinks.</p>
                            <br>
                            <br>
                            <h3>Day 01 : Nairobi - Amboseli</h3>
                            <br>
                            <p>Pick from your Hotel or JKIA and transferred to Wilson Airport for the scheduled 7:30am flight to the Amboseli National Park. You will be met at the Airstrip and depart on your first game drive en-route to Ol Tukai Lodge. After lunch there will be an afternoon game drive until dusk.
                                Amboseli National Park supports a wide range of wildlife particularly elephants roaming in large herds. With Mt. Kilimanjaro in the background it is the scene of many classic African safari shots. A section of the park is a seasonal lake the remainder being swamplands, fed by melting snow from Kilimanjaro and savannah woodland. Overnight at Ol Tukai Lodge.</p>

                                <br>
                                <h3>Day 02 : Amboseli</h3>
                                <p> You have a full day available for game viewing in the Amboseli National Park. In between game drives you may wish to take a guided game walk outside the park or relax at the swimming pool. All meals and overnight at Ol Tukai Lodge.</p>
                                <br>
                                <h3>Day 03 : Amboseli - Nairobi</h3>
                                <p>After breakfast you will be transferred to the Airstrip for the scheduled 8:30am flight to Nairobi, where you can proceed with your safari or transferred to your Hotel/JKIA.</p>
                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>

    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
