{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3>3 DAYS KENYA LODGE FLYING SAFARI</h3>
                    <h4>3 Days 2 Nights Mara Serena Safari Lodge Flying Safari Package</h4>
                    <br>
                    
                    <p>Mara  Serena Safari Lodge Set high on a bush-cloaked hill, embraced by arcing vistas and washed by a sea of richly rolling grasslands, it stands centre-stage to one of Africa’s most dramatic wildlife arenas and has a ringside seat for the greatest wildlife show on Earth, the legendary migration of the wildebeest.</p>
                        
                         <br>
                         <p>Drawing its inspiration from the traditional Maasai cultural motif of a cluster of domed, mud-colored huts encircled by a “Boma” of brushwood, the Mara Serena offers a rare blend of raw African splendor and sumptuous sophistication.</p>
                            <br>
                            <p>The lodge features individual rooms, each with their own balcony and view of eternity, a sky-blue swimming pool and a spectacular restaurant, overlooking a water hole where a fantasia of creatures collect to drink.</p>
                            <br>
                            
                            <br>
                            <h3>Day 01</h3>
                            <br>
                            <p>Pick from your Hotel or JKIA and transferred to Wilson Airport for the scheduled flight to the world famous Masai Mara Game (Wildlife) Reserve. The Mara is actually the northern portion of the great ecosystem in neighboring Tanzania called the Serengeti. It is the home of the "big five" - loin, leopard, buffalo, rhino and elephant as well as cheetah, zebra, giraffe and vast herds of plains antelope and numerous other wildlife.</p>
                            <br>
                            <p>The low afternoon light is perfect for photographing the beautiful rolling plains of the Masai Mara. In the early evening as you make your way back to the lodge from the afternoon game drive, you may get lucky and spot one of the cat's on the prowl. As the sun starts to set you will return to your camp for dinner and overnight MARA SERENA SAFARI LODGE (LD)</p>
                                <br>
                                <h3>Day 02: Masai Mara</h3>
                                <br>
                                <p>On morning game drives you will awake before dawn and set out at sunrise in search of game. In between your morning and afternoon game drive you will have ample time to relax and enjoy the ambiance at your luxury tented camp. All meals and overnight MARA SAROVA TENTED CAMP (BLD)</p>
                                <br>
                                <h3>Day 03: MASAI MARA - NAIROBI</h3>
                                <br>
                                <p>Arise at dawn for an early morning game drive or perhaps end your safari with a spectacular hot-air balloon ride over the Mara. After breakfast you have the a final game drive as you make your way to the Airstrip for the scheduled flight to Nairobi. Upon arrival, you will be met and transferred to your Hotel or JKIA Airport (B).</p>
                                <br>
                                <table style="width:100%">
                                    <tr>
                                      <th>SEASON</th>
                                      <th>Per person sharing</th>
                                      <th>Single room supplement</th>
                                      
                                    </tr>
                                    <br>
                                    <tr>
                                      <td>1st March -31st May 2023</td>
                                      <td>$ </td>
                                      <td>$ </td>
                                      
                                    </tr>
                                    
                                    <tr>
                                        <td>1st June -30th June 2023</td>
                                        <td>$ </td>
                                        <td>$ </td>
                                    </tr>
                                    <tr>
                                        <td>1st Jul-31st Aug
                                            <br>
                                            10th Apr -13th Apr 2023</td>
                                      <td>$ </td>
                                      <td>$ </td>
                                    </tr>
                                    
            
            
            
                                  </table>
                                  <br>

                                  <h3>Included in above quotation</h3>
                                  <br>
                                  <p>Airstrip transfers in Masai Mara</p>
                                  <p>Return Air ticket NBO - MARA- NBO</p>
                                  <p>Two nights at Mara Serena Safari Lodge on full board basis</p>
                                  <p>4 shared game drives</p>
                                  <p>park entrance fees</p>
                                  <p>Hippo pool breakfast</p>


            
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>
    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
