{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> Nairobi City tour, Places to visit in Nairobi</h3>
                    <br>
                    <p>History of Nairobi: Founded in 1899, the city was handed capital status from Mombasa in 1905. Nairobi is the capital and largest city of Kenya. It is popularly known as the “Green City in the Sun”. Nairobi is also the capital of the Nairobi Province and of the Nairobi County. The city lies on the Nairobi River, in the south of the nation, and has an elevation of 1661M (5450 ft) above sea-level. </p>
                        
                         <br>
                         <p>Nairobi is currently the 4th largest city in Africa and the most populous city in East Africa, with an estimated urban population of between 3 and 4 million. According to the 1999 Census, in the administrative area of Nairobi, 2,143,254 inhabitants lived within 684 km².Nairobi is now one of the most prominent cities in Africa politically and financially. Home to many companies and organizations, Nairobi is established as a hub for Airlines into Africa, business and culture within East Africa.</p>
                            
                            <br>
                            <p>Some of the places to visit whilst in Nairobi include Kenyatta International Conference Centre, Parliament Buildings, Nairobi National Park, the Snake Park, National Museum, Bomas of Kenya (for traditional dancing and tribal villages) and the Nairobi International Show (August/September/October).</p>

                                <br>
                                <p>
                                    The City Market on Muindi Mbingu Street is worth a visit if you are shopping for curios. Depending on how good your bartering is, you can get a good bargain be it soapstone carvings, wood carvings or other handicrafts.
                                </p>
                                <br>
                                <h3>Itinerary:</h3>
                                <p>This tour covers the modern city centre, the colourful City market, Parliament buildings, Kenyatta International Conference Centre; the landmark of Nairobi (KICC), The 7th Memorial Park (Bomblast, the Railway Station and the Railway Museum  and the renowned National Museum where there are spell-binding displays of the early man, tribal regalia and flora and fauna of Kenya. A visit to the adjacent snake park can also be included. The tour returns to your city hotel or residence.</p>

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
