{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3>  3 Days Mpata Safari Club Masai Mara Flying safari Package</h3>
                    <br>
                    <p>Mpata Safari Club sits high on the edge of the Oloololo escarpment with panoramic views across the Masai Mara Plains, adjoining the Masai Mara National reserve, i.e.," Kingdom of Wild Life in East Africa".
                        The Club House is located in the middle of 23 separate cottages which extend like a bird wing
                        Guests stay in 23 separate cottages well-spaced along the top of the escarpment. There are 11 Suites and 12 Delaxe units, each with interlocking curves separating bedrooms, bathroom and verandahs. The chief feature of the deluxe room is the panoramic sweep of the Mara which you can see from your bed. The suites have similar views and are larger with a lounge, kitchenette and, best of all, a Jacuzzi. The units are reached by stone pathways meandering between indigenous bush and trees which help to soften the towerlike structures.</p>
                        
                         <br>
                         <h3>Itinerary</h3>
                         <br>
                         <h3>Day 01: Nairobi - Masai Mara</h3>
                         <p>Pick from your Hotel or JKIA and transferred to Wilson Airport for the scheduled flight to the world famous Masai Mara Game (Wildlife) Reserve. The Mara is actually the northern portion of the great ecosystem in neighbouring Tanzania called the Serengeti. It is the home of the "big five" - loin, leopard, buffalo, rhino and elephant as well as cheetah, zebra, giraffe and vast herds of plains antelope and numerous other wildlife.</p>
                         <br>
                         <p>After lunch and some time to relax and perhaps a dip in the pool, you will depart with your driver/guide for an afternoon game drive in search for the big five. The low afternoon light is perfect for photographing the beautiful rolling plains of the Masai Mara. In the early evening as you make your way back to camp, you may get lucky and spot a leopard on the prowl. As the sun starts to set you will return to your camp for dinner and overnight MPATA SAFARI CLUB (LD)
                        </p>
                            
                            <br>
                            <h3>Day 02: Masai Mara</h3>
                            <br>
                            <p>On morning game drives you will awake before dawn and set out at sunrise in search of game. In between your morning and afternoon game drive you will have ample time to relax and enjoy the ambiance at your luxury tented camp. All meals and overnight MPATA SAFARI CLUB (BLD)</p>

                                <br>
                                                                
                                <h3>Day 03: MASAI MARA - NAIROBI</h3>
                                <p>Arise at dawn for an early morning game drive or perhaps end your safari with a spectacular hot-air balloon ride over the Mara. After breakfast you have the a final game drive as you make your way to the Airstrip for the scheduled flight to Nairobi. Upon arrival, you will be met and transferred to your Hotel or JKIA Airport (B).</p>
                                 <br>

                                 <h3>ACTIVITIES AT AN EXTRA COST</h3>
                                 <p>1. A guided tour by our professional naturalist in the natural surroundings of the Club, which lies just outside the Reserve but still teems with life.</p>
                                 <br>
                                 <p>2. Float in the breeze over the Savannah in Balloons that give you a unique vantage point , ending in a Champagne breakfast.</p>
                                  <br>
                                  <p>3. A tour of the Masai Mara is never complete without a visit to the intriguing Maasai villages which impact a sense of love for mankind and wildlife.</p>
                                <br>
                                <h3>WHATS INCLUDED IN PRICE:</h3>
                                <br>
                                <p>1. Return flight from Nairobi to Masai Mara and Back.</p>
                                <br>
                                <p>2. 4 Game drives.</p>
                                <br>
                                <p>3. 2 nights Accommodation on fullboard.</p>
                                <br>
                                <p>4. Airstrip transfers in Masai Mara.</p>
                                <br>
                                <br>
                                <h3>PACKAGE EXCLUDE</h3>
                                <p>1. Park entrance fees/conservation fees.</p>
                                <p>2. All items of personal use i.e laundry, telephone calls, drinks, personal travel insuarance.</p>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>
 
    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
