{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days Elephant bedroom camp Samburu flying package.</h3>
                    <br>
                    <p>Set on the banks of the Ewaso Nyiro River in Samburu National Reserve surrounded by doum palms and other beautiful indigenous trees and shrubs sits this small and exclusive camp of 12 luxury tents - all furnished in rustic African style while offering all the comforts expected of a luxury Camp (hot & cold running water, electricity and herbal products).</p>
                        
                         <br>
                         <p>The lounge and dining area offer vibrant safari colours with original oil paintings, soft intimate lighting designed to relax guests returning from an exciting game drive. Huge herds of elephant, prides of lion or the solitary leopard amongst other game are regular visitors around the camp providing excellent game viewing in spectacular scenic background of rugged rolling hills.</p>
                            <br>
                            <p>Dining is a culinary experience with al-fresco breakfast, 3 course lunch and 4 course candle lit gourmet dinner set either under the African sky or inside the well appointed dining area.</p>
                            <br>
                            <h3>ITINERARY</h3>
                            <br>
                            <br>
                            <h3>DAY 1: SAMBURU – Elephant Bedroom Camp</h3>
                            <p>Transfer to Wilson airport for your flight to Samburu National Reserve your home for the next two nights. Upon arrival in Samburu reserve, The camps representative will meet and rive you to your luxurious camp for check in with a game drive enroute.</p>

                                <br>
                                <h3>DAY 2: Samburu.</h3>
                                <p>
                                    Fullday at Samburu Game Reserve with a morning and afternoon gamedrives.
                                </p>

                                <br>
                                <h3>DAY 3: Samburu - Nairobi.</h3>
                                <p>Early morning gamedrive back to Camp for breakfast, then transfer to airstrip for your flight back to Nairobi.</p>

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>

    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
