{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 1 Day Trip to Malindi from Mombasa</h3>
                    <br>
                    <p>Malindi is located north of Mombasa Island and can be reached by driving on the Mombasa-Malindi road. The town's history is reputed to go back a thousand years but it can only be reliably dated to the 13th century by Arabic records.</p>
                        
                         <br>
                         <p>Many hotels serve the town whose main beach sweeps for 7 km round Malindi Bay. The long white sandy beach to the south of Malindi town is called Silver sands, once only occupied by private villas but now hosting a panorama of small, mostly Italian owned, hotels.</p>
                            
                            <br>
                            <h3>PLACES OF INTEREST THAT CAN BE VISITED</h3>
                            <br>
                            <p>At Watamu a Marine National Park has been established, an ideal day trip for divers and snorkellers alike.</p>

                                <br>
                                <p>
                                    Northwest of Malindi is the spectacular Marafa Depression, locally known as Nyari and popularly known as Hell's Kitchen. An extensive series of sandstone gorges and sheer gullies, this unique and otherworldly landscape has become part of local folklore.
                                </p>
                                <br>
                                 <p>
                                    The thick jungles of the Arabuko Sokoke Forest reserve hide a world of wonders. In the cool of the forest winding paths will take you in search of rare endemic birds and mammals, and visiting herds of Elephant.
                                 </p>
                                 <br>
                                 <p>The forest holds another secret, the lost town of Gedi, a deserted trading Swahili town hidden deep in the forests, whose winding passages and crumbling walls tell of a long and mysterious past.</p>
                                  <br>
                                  <p>Walk through the Forest, explore the mangroves by boat, dive on the reef or try your hand at big game fishing. At the North coast you have all these choices and more, with the space and freedom to relax, unwind, and soak up the atmosphere. beach at malindi.
                                </p>
                                <br>
                                <p>Evening drive back to Mombasa.</p>
                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>
    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
