{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 DAYS / 2 NIGHTS TSAVO WEST FLYING SAFARI</h3>
                    <h4>Staying at the luxurious Kilanguni Serena Safari Lodge.</h4>
                    <br>
                    <h3>3 DAYS / 2 NIGHTS KILAGUNI SERENA SAFARI LODGE TSAVO WEST FLYING SAFARI PACKAGE</h3>
                    <br>
                    <h3>Day 1</h3>
                    <br>
                    <p>:Take your flight from wilson airport and on arrival be met by the lodges representative who will transfer you to the lodge and assist with check in. Refresh and have lunch at the lodge.
                        After lunch, enjoy your first glimpse of the magnificence of Tsavo West, which is one of the largest game parks in the world, before returning for relaxation on your private verandah and, perhaps, a swim in the luxury pool. Evening sundowners are served overlooking the waterhole, followed by dinner in our restaurant, which also overlooks the waterhole.</p>
                        <p>Meals and overnight at Kilaguni Serena Safari Lodge.</p>
                        
                         <br>
                         <h3>Day 2</h3>
                         <br>
                         <p>With a full day in the park, your options are wide. Both morning and afternoon game drives are offered (with trips to the famous Mzima Springs Hippo Pools and the Shetani Lava Flows). Tsavo offers some of the most magnificent game viewing in the world – vast herds of dust-red elephant, fat pods of hippo, giant crocodile, teeming herds of plains game, a fantasia of bird life and some magical flora. The lush, hippo-inhabited pools of Mzima Springs, fed daily by 250 million litres of water gushing from the lava flows of the Chyulu hills, provide an oasis of green, an under-water hippo-viewing chamber, two nature trails and some unique picnic spots. Sundowners can be taken on safari or at the lodge camp, followed by dinner.</p>
                            
                            <br>
                            <h3>Day 3</h3>
                            <br>
                            <p>After breakfast transfer to the airstrip for your flight back to Nairobi</p>

                                <br>
                                <h3>COST</h3>
                                <br>
                                <table style="width:100%">
                                    <tr>
                                      <th>SEASON</th>
                                      <th>Per person sharing</th>
                                      <th>Single room supplement</th>
                                      
                                    </tr>
                                    <br>
                                    <tr>
                                      <td>Feb -31Mar -1
                                        <br>
                                        Sep - 31st Oct 2023</td>
                                      <td>$ </td>
                                      <td>-</td>
                                      
                                    </tr>
                                    
                                    <tr>
                                        <td>1st Apr-30th Jun
                                            <br>
                                            15th Nov-20th Dec 2023</td>
                                        <td>$  </td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>1st Jul-31st Aug
                                            <br>
                                            10th Apr -13th Apr 2023</td>
                                      <td>$ </td>
                                      <td>$  for the two nights</td>
                                    </tr>
                                    
            
            
            
                                  </table>
                                  <br>

                                  <h3>WHAT'S INCLUDED IN PRICE:</h3>
                                  <br>
                                  <p>1. Return flight from Nairobi to Tsavo West and Back.</p>
                                  <br>
                                  <p>2. 3 day game drives /1 night game drive at
                                    Sweetwaters and Kilaguni</p>
                                    <br>
                                    <p>3. 2 nights Accommodation on fullboard Basis.</p>
                                    <br>
                                    <p>4. Park entrance fees/conservation fees.</p>
                                    <br>
                                    <p>5. Airstrip transfers in Tsavo West</p>

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>

    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
