{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> Lake Nakuru Day Trip, Full Day Lake Nakuru Excursion</h3>
                    <br>
                    <p>Lake Nakuru National Park is located in the Rift Valley 1750 meters above sea level, Lake Nakuru is known as an ornithological paradise by birdwatchers because the lake is world famous as the location of the greatest bird spectacle on earth which boasts any where between one and two million lesser and greater pink flamingos that feed on the abundant algae thriving in the lakes warm waters. It is one of the few parks that have been specifically established (Gazetted) for the protection of birds specifically flamingoes, more than 450 species of birds have been recorded here</p>
                    
                         <br>
                         <p>The park has also been established for the protection of endangered species such as the rhino and is also home to Columbus monkeys, Leopards, Rhino, Giraffes, and a variety of plain antelope. Lake Nakuru is famous for its Pink Flamingoes and many other types of birds. There are also a number of animals in this park. Lake Nakuru is world famous for its Flamingos. Come to the Rift Valley lake and see millions of Flamingos as they feed and swim in the lake.</p>
                            <br>
                            <p>We shall drive through the floor of the Great Rift Valley from Nairobi, while stopping on the way for curios and to admire and marvel at the breathtaking views of the escarpment along the way. We arrive at Lake Nakuru National Park in time for a mid-morning game drive. Lunch at the Lake Nakuru Lodge or similar .As we find our way out of the park; we have another short game drive and embark on our way to Nairobi.</p>
                            <br>
                            <h3>NAKURU DAY TRIP ITINERARY</h3>
                            <br>
                            <p>0600 hrs: Pick-up at different places depending on location.</p>
                            <p>0700 hrs: Depart Nairobi for Nakuru National park</p>
                            <p>1000 hrs: Arrive at the Nakuru National park and proceed for a 2hr game drive.</p>
                            <p> 1230 hrs: Enjoy lunch at the Sarova Lion hill Lodge or Similar.</p>
                            <p>1430 hrs: game drive enroute to Nairobi.</p>
                            <p>1830 hrs: Arrive in Nairobi and be dropped off at a location of your choice within the city.</p>

                            <br>
                            <h3>The Price Includes:</h3>
                            <p>1. Transport based on a Tour Van in the game parks.</p>
                            <p>2. Services of a qualified tour driver / guide</p>
                            <p>3. Drivers allowance.</p>
                            <p>4.All entrance fees.</p>

                            <br>
                            <p>Rate of USD 220 minimum 2pax</p>



                

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>

    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
