{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
 
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> Full Day Nairobi Excursion to Nairobi National park </h3>
                        <h4>Daphne Sheldrick's Elephant Orphanage Karen Blixen Museum, Giraffe centre.</h4>
                    <br>
                    <p>You have a day or some hours before your next flight do not be holed up at the airport or hotel Nairobi has alot to offer and a few hours are enough.</p>
                        
                         <br>
                         <h3>Nairobi National park</h3>
                         <br>
                         <p>Nairobi National Park Kenya's first ever National park is a unique and unspoilt wildlife haven within sight of the city's skyline. Rhino, buffalo, cheetah, zebra, giraffe, lion and plenty of antelopes and gazelles can be seen roaming in this open plains country with a section of highland forest as well as stretches of broken bush country, deep, rocky valleys and gorges with scrub and long grass. Ornithologists catch with over 300 bird species including the Secretary bird, crowned cranes, vultures, peckers and many more</p>
                            
                            <br>
                            <h3>Daphne Sheldrick Elephant Orphanage</h3>
                            <br>
                            <p>David Sheldrick Elephant orphanage where you come close to elephant calves! Daphne Sheldrick As part of the David Sheldrick Conservation Foundation rehabilitates baby elephants and other wildlife here at her home just outside of Nairobi National Park. These babies have lost their mothers to poaching, death,
                                injuries, on getting lost in the wild or other tragedies. Daphne and her dedicated staff raise them to be released back into the wild when they are ready. Its worth visiting and see humanitarian care to the wildlife and the heart it takes to care. They charge a small entrance fees instead you can buy a souvenir or donate for the conservation.</p>

                                <br>
                                <h3>Karen Blixen Museum</h3>
                                <p>
                                    Karen Blixen Museum is located on the outskirts of Nairobi on Karen road. Its history dates back to 1914, during the First World War, with the arrival of Karen Blixen from Denmark. At the foot of Ngong hills, Karen Blixen established herself as a farmer. After her departure in 1931 the suburbs retained the commemorative home of Karen.
                                </p>
                                <br>
                                <p>The Karen Blixen museum is one of a number of very interesting regional museums and archeological and prehistoric sites of the National museums of Kenya, and it continues to be an immensely popular tourist attraction with the same words ' I dreamt of Africa'</p>
                                 <br>
                                 <p>This museum was originally the home of Karen Blixen, who came to Kenya from Denmark in the early part of this century; the present museum site is at the heart of the larger coffee plantation run by Blixen between 1914 and 1931. The house and surrounding land was donated by the Danish government to Kenya at independence; the house was restored by the Danish government and was used during the filming of Out of Africa, which immortalized Karen Blixen's book by the same name. The Museum was opened to the public in 1986.Much of the original furniture is on display in the house, and combined with the beautifully landscaped gardens and encompassing view of the Ngong Hills, the Museum has continued to a be very popular destination for international and local visitors.
                                    The original kitchen has been restored and is now open for viewing. A Dove Stove similar to the one used by Blixen is on display, as are other period kitchen utensils.</p>
                                <br>

                                <h3>Giraffe Centre</h3>
                                <br>
                                <p>The Giraffe Centre is a non-profit organization founded by Betty and Jock Leslie-Melville in 1979. Situated in Langata, just 20 km outside Nairobi City Center, the Center is dedicated to educating the Kenyan youth in conservation of the environment and the preservation of endangered wildlife and their habitats.The Center is home to endangered Rothschild giraffes, only found in the semi-arid regions of Africa where trees and bushes are plentiful. They live to be about thirty years old and their main enemy is man, who kills them for their meat and hide. Their main defense is their keen eyesight, running speed (up to 35 mph) and their powerful kicks. The conservation of the Rothschild became necessary following the destruction of their natural habitat in Western Kenya and their slaughter in Uganda during Gen. Iddi Amin's era.</p>
                                <br>
                                <p>There are over 500 Rothschild giraffes in Kenya today including seven at the Center. Their conservation is a
                                    success story in Kenya and the world.The Giraffe Center also home to the leopard, tortoise and boasts over a hundred acres of undeveloped and undisturbed indigenous forest, the remnant of the natural forest that once surrounded Nairobi.The forest is anextension of the type occurring in the adjacent Nairobi National Park and the Langata Ololua forests, which have identical tree species. The forest also has an impressive variety of bird species, which can be viewed throughout the year.</p>
                                <br>
                                <p>The giraffe center is a wonderful and refreshing experience to enjoy as an excursion while in Nairobi. The tour gives a completely up close and personal interaction where guests have the opportunity to view giraffes as well as feed them.personal interaction where guests have the opportunity to view giraffes as well as feed them.kiss them, touch them- just a great feeling!!!!!.
                                    .Other animals includes the tortoise, warthog and a parrot.</p>
                                    <br>
                                    <h3>Program:</h3>
                                    <br>
                                    <p>Pick up at the hotel or airport at 0600hrs</p>
                                    <p>Nairobi National Park -0700hrs - 1000hrs</p>  
                                    <p>Sheldrick Orphanage: 1100hrs-1200hrs</p>   
                                    <p>Giraffe center: 1200hrs -1330pm</p>
                                    <p>Karen Blixen Museum: 14:.30 -1530hrs</p>
                                    <p>Rate includes - Transport / all entrance fees</p>
                                    <br>
                                    <p>( Optional lunch at Carnivore Restaurant for US$ 40 ).</p>


                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
