{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days Porini Camp Amboseli flying safari Package</h3>
                    <br>
                    <p>Porini Camp in Amboseli is located in Selenkay Conservation Area  It lies in the heart of Maasailand and the animals are truly wild and not yet habituated to the presence of vehicles.The number of tourist visitors staying at the Amboseli Porini Camp within Selenkay Conservancy is limited to a maximum of eighteen per day to retain the wild and unspoilt nature of the area and to minimise the impact on the environment. Within the conservation area the following animals have been seen recently: elephant, lion, leopard, cheetah, Thompson's and Grant's gazelles, gerenuk, impala, oryx, lesser kudu, zebra, wildebeest, giraffe, warthog, striped hyena, jackal, bat-eared fox, caracal, African wild cat, serval cat, genet cat, honey badger, mongoose and ostrich. Birdlife is prolific, especially birds of prey.</p>
                        
                         <br>
                         <h3>Day 1</h3>
                         <br>
                         <p>Depart from Nairobi Wilson Airport in the morning and on arrival at the airstrip you will be met by the camps driver guide and with a mini gamedrive enroute be driven to the camp for check in. Have lunch and some relaxation and after afternoon tea, you will be escorted on a walk by Maasai warriors to a village to get an insight into their fascinating culture and way of life. Then take a game drive in the camp’s open-sided 4×4 safari vehicle into the conservancy, stopping for a sundowner at a scenic spot overlooking Kilimanjaro. Return to camp for dinner and overnight</p>
                            
                            <br>
                            <h3>Day 2</h3>
                            <br>
                            <p>Awake to the noisy calls of the birds. After an early breakfast, we drive through the bush on our private track into Amboseli National Park, for a full morning of game viewing in the camp’s open-sided 4×4 safari vehicle. Following a picnic lunch in the park, we return to camp later in the afternoon. In the evening you will have a sundowner on an observation platform overlooking a waterhole by the camp, where elephants and other animals often come to drink. Return to camp for dinner and overnight.</p>

                                <br>
                                <h3>Day 3</h3>
                                <p>
                                    Take an early morning game drive in the Conservancy followed by breakfast then taken to the airstrip for your flight back to Nairobi.
                                </p>

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>
    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
