{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 1 Day 2 Nights Shimba Hills  Lodge Safari from Mombasa.</h3>
                    <br>
                    <p>Only 33 km from the hustle and bustle of Mombasa, and the heat of the tropical coast lies the environmental friendly Shimba Hills Lodge, buried deep in the cool and green tropical rainforest. You will be collected from your respective hotel early afternoon to drive up to Shimba Hills Reserve and enjoy a first game drive in this home of the rare Sable antelope, Elephant and Buffalo. Pre-dinner cocktails can be enjoyed in the viewing bar at the raised walkway. Dinner is served on a terrace overlooking the floodlit water hole regularly visited by elephants.</p>
                        
                         <br>
                         <p>An early morning game drive will give you the opportunity to enjoy the Reserve from a different angle, before returning to the lodge for a hearty breakfast. After breakfast, you will drive back to your coastal hotel.</p>
                            
                         <h3>PRICE: US$ per person</h3>
                            
                

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>

    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
