{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> Kiambethu Tea Farm Tour, Kiambethu Tea Farm Day Trip</h3>
                    <br>
                    <p>Kiambethu Tea Farm is one of Kenya's oldest tea farms. It's a family run business run by Marcus and Fiona Mitchell and it is here where you get to enjoy a 'tea luncheon' with them. Kiambethu Tea Farm, the family home of one of the earliest tea growers in Kenya, is situated 30 Km away from Nairobi. The farm dates back to 1910 and the present house set amidst colorful gardens, has been home to four generations. </p>
                    
                         <br>
                         <p>At Kiambethu the guests are given an insight into the tea making process followed by an opportunity to see tea in the field. Accompanied by the resident Kenyan guide, guests can also take a short walk into the small indigenous forest and learn about the plants and how they were used traditionally, watch the Colobus monkeys and birds who are resident in the gardens or just enjoy the sweeping views across the tea fields to the Ngong Hills.</p>
                            
                            <br>
                            <h3>Kiambethu Farm Day Tour Price includes</h3>
                            <br>
                            <p>All entry fees, service charge and taxes</p>
                            <p>Lunch and morning tea at Kiambethu Estate</p>
                            <p>Pickup from your hotel in Nairobi and drop-off to your hotel or residence</p>
                            <p> Visit to Kiambethu Estate for a local history lecture and a walk in the forest and tea plantations</p>
                            <p>Professional English speaking guides.</p>

                            <br>
                            <h4>Kiambethu Farm Day Tour does not include</h4>
                            <p>Personal expenses such as, drinks, Tips or gratuity for your Driver Guide, Travelers insurance</p>

                

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>
    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
