{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days 2 Nights Samburu Ashnil Camp Flying package.</h3>
                    <br>
                    <p>Ashnil Samburu Camp sits in Buffalo Springs Game Reserve which takes its name from an oasis of crystal clear water at the western end of the reserve. It is separated from Samburu National Reserve by Ewaso Nyiro River and is less hilly and dense yet equally very attractive.
                        Have an opportunity to see the Elephants, Buffaloes, Lions, Leopard and the unusual reticulated giraffe, gravy zebra, Somali ostrich, beisa oryx, vulturine, guinea fowl among others.</p>
                        
                         <br>
                         <p>Location & Description :</p>
                            <br>
                            <p>Ashnil Samburu Camp is 12 kilometers from Ngare Mara Gate, Buffalo Springs National Reserve south of Samburu National Reserve, about 325 km from Nairobi. Flying time Nairobi/Samburu is approximately 45 - 60 minutes from Nairobi’s Wilson Airport.</p>
                            <br>
                            <p>Room Feature :</p>
                            <br>
                            <p>24 deluxe tents.</p>
                            <br>
                            <p>Facilities :</p>
                            <br>
                            <p>The camp facilities include a swimming pool for adults and children, a wonderful viewing deck with the view of the Ewaso Nyiro River, well stocked bar, gift shop, dining area and lounge area.</p>
                            
                            <h3>Day 1</h3>
                            <p>Transfer to Wilson airport for your flight to Samburu where you will be met by the Camps representative. With a gamedrive enroute you will be transferred to the camp for check in. Refresh, have lunch and later go for an afternoon gamedrive till late evening back to camp for dinner and Overnight.</p>

                                <br>
                                <h3>Day 2</h3>
                                <p>
                                    Morning and afternoon gamedrives.
                                </p>

                                <br>
                                <h3>Day 3</h3>
                                <p>Early Morning gamedrive after breakfast transfer to the airstrip for your flight back to Nairobi.</p>

                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>
    


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
