{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days Amboseli Flying safari Package</h3>
                    <h4>3 Days  2 nights Amboseli Serena Lodge Flying Safari Package.</h4>
                    <br>
                    <p>Amboseli Serena Safari Lodge Secluded within a grove of acacia trees, the lodge looks out over the golden savannah plains, with uninterrupted views of the mountain itself. Close by are a series of emerald green swamps, which are fed by the melting snows of Kilimanjaro. These, the only sources of water in this otherwise starkly beautiful but arid park, attract huge numbers of wallowing elephants, hippos, buffalos and plains game. Meanwhile, from the prehistoric site of Observation Hill, the sunset over Kilimanjaro is magnificent.</p>
                    <br>
                    <h3>FACILITIES</h3>
                    <br>
                    <p>92 rooms (inclusive of family rooms and suites: all non-smoking)</p>
                    <p>Central dining room, internal and external bar</p>
                    <p>Free form swimming pool and sundeck</p>
                    <p>Gift shop and business centre</p>
                    <p>2 game drives daily with dedicated wilderness guides</p>
                    <br>
                    <h3>Day 01: Nairobi - Amboseli</h3>
                    <br>
                    <p>Arriving in time for lunch, you will have some time to relax before departing on an afternoon game drive in the park. With luck, the cloud cover will lift to reveal the spectacular Mt. Kilimanjaro. Return to the lodge in the early evening in time for dinner and Overnight at Amboseli Serena Lodge (LD).</p>
                        
                         <br>
                         <h3>Day 2</h3>
                         <br>
                         <p>With a full day in the park, your options are wide. Both morning and afternoon game drives are offered (with trips to the famous Mzima Springs Hippo Pools and the Shetani Lava Flows). Tsavo offers some of the most magnificent game viewing in the world – vast herds of dust-red elephant, fat pods of hippo, giant crocodile, teeming herds of plains game, a fantasia of bird life and some magical flora. The lush, hippo-inhabited pools of Mzima Springs, fed daily by 250 million litres of water gushing from the lava flows of the Chyulu hills, provide an oasis of green, an under-water hippo-viewing chamber, two nature trails and some unique picnic spots. Sundowners can be taken on safari or at the lodge camp, followed by dinner.</p>
                            
                            <br>
                            <h3>Day 02 : Amboseli</h3>
                            <br>
                            <p>Awaken at dawn and depart on an early morning game drive while the light is just perfect for photographing the magnificent Mt. Kilimanjaro. Return to the lodge for breakfast. This afternoon you may want to take a dip in the pool and do some game-viewing from the terrace. In the late afternoon you will have the opportunity for another major game drive. All meals and overnight at Amboseli Serena Lodge (BLD).</p>
                           
                                <br>
                                <h3>Day 03 : Amboseli - Nairobi</h3>
                                <br>
                                <p>After breakfast you will say goodbye to the bush and transferred to the Airstrip where you will depart with the morning flight back to Nairobi Wilson Airport</p>
                                <br>
                                <table style="width:100%">
                                    <tr>
                                      <th>SEASON</th>
                                      <th>Per person sharing</th>
                                      <th>Single room supplement</th>
                                      
                                    </tr>
                                    <br>
                                    <tr>
                                      <td>1st March -31st May</td>
                                      <td>$ </td>
                                      <td>-</td>
                                      
                                    </tr>
                                    
                                    <tr>
                                        <td>1st June -30th June</td>
                                        <td>$ </td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>1st Jul-31st Oct</td>
                                      <td>$ </td>
                                      <td>$  for the two nights</td>
                                    </tr>
                                    
            
            
            
                                  </table>
                                  <br>

                                  <h3>Included in above quotation</h3>
                                  <br>
                                  <p> Return Air ticket NBO - AMBO</p>
                                  <br>
                                  <p>Two night at Amboseli Serena Lodge on full board basis</p>
                                    <br>
                                    <p> 4 shared game drives</p>
                                    <br>
                                    <p>Airstrip transfers in Amboseli.</p>
                                    <br>
                                    <p>Maasai cultural talk and dance at Amboseli</p>
                                    <br>

                                    <h3>Not Inclusive</h3>
                                    <p>Items of personal nature, Exclusive use of vehicle for gamedrives, drinks {alcoholic and non alcoholic} and optional visit to a Maasai village.</p>


                                <br>
                                <a href="reservation.html" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
