{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
 <br>
    <section class="gallery" id="gallery">
     
        <div class="box-container">
            {% for dubai in object_list %}
            <div class="box">             
                <img src="{{dubai.cover.url}}" alt="{{dubai.title}}">
                <div class="content">
                    <h3>{{dubai.title}}</h3>
                    <p>{{dubai.desc}}</p>           
                    <a href="services.html" class="btn">Learn More</a>
                </div>
            </div>
            
            {% endfor %}
  
            
        </div>
    </section>
<div class="content-area">
    <div class="wrapper">
        
        <br>
        <div id="dubai" class="contact-area">
            <div class="text-content">
                <h3>Dubai Excursions</h3>
                <br>
               
                  <br>
                    <p> Dubai Desert Safari tour</p>
                    <br>
                    <p> Abu Dhabi city tour</p>
                    <br>
                    <p> Red Dune Desert Safaris, camel ride, sand boarding and BBQ options</p>
                    <br>
                    <p> Hot air baloon ride</p>
                    <br>
                    <p> Burj khalifa</p>
                    <br>
                    <p> Aqua Venture Dubai water ParK</p>
                    <br>
                    <p> Dinner Dhow Cruise on the Dubai Creek</p>
                    <br>
                    <p> Aquarium and the Burj Khalifa view deck</p>
                    <br>
                    <p> The Dubai Fountain</p>
                    
               
               
                </div>
                <a href="reserve/" class="btn">Make A Reservation</a>
        </div>
         <br>      
         <img src="/media/images/dest24.jpeg" alt="maldives" margin="10px" width="600" height="600">   
    </div>
</div>

{% include 'footer.html' %}
<!----custom  js file link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static script.js %}"></script>
</body>

