{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Kenya Dream Holidays</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>

<!---footer section starts-->
<section class="footer">
    <div class="box-container">
         <div class="box">
            <h3>Our Packages </h3>
            <a href="/services/camp">Kenya Camping Safaris</a>
            <a href="/services/lodge">Kenya Road Safaris </a>
            <a href="/services/mara">Masai Mara Hot Air Balloon Safaris</a>
            <a href="/services/excursion">Nairobi City Tours and Excursion</a>
           
            
         </div>
         <div class="box">
            <h3>More Packages</h3>
            <a href="/services/mountain">Mountain Climbing</a>
            <a href="/services/fly">Kenya Flying Safaris</a>
            <a href="/services/tsafari">Tanzania Camping and Lodge Safaris </a>
            <a href="/services/short">Kenya Beach and bush safaris</a>
            
         </div>
        <div class="box">
            <h3>quick links</h3>
            <a href="/">home</a>
            <a href="/book">book</a>
            <a href="/packages">packages</a>
            <a href="/gallery">gallery</a>
            <a href="/us">contact</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="https://facebook.com/kenyadreamholidays">facebook</a>
            <a href="https://www.instagram.com/kenyadreamholidays">Instagram</a>
            <a href="https://twitter.com/kenyadreamholid">twitter</a>
            <a href="https://ke.linkedin.com/in/cate-mburu-9a94115a">linkedin</a>
         </div>

    </div>

    <h1 class="credit">Kenya Dream Holidays 
      <br> Location : Suraj Plaza, Limuru Rd, Ngara-Nairobi 
      <br>P.O.Box 21873 - 00100
      <br>TELEPHONE + 254-020-2696911 / +254-738-655-086 
      <br><span> Mailto: info@kenyadreamholidays.com  or kenyadreamholidays@gmail.com </span> 
      <br>@KenyaDreamHolidays.
  </h1>
    


</section>
<!----footer section ends-->

<!----custom  js file link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static script.js %}"></script>
</body>
  </html>