{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
 <br>
    <section class="gallery" id="gallery">
     
        <div class="box-container">
            {% for hotel in object_list %}
            <div class="box">             
                <img src="{{hotel.cover.url}}" alt="{{hotel.title}}">
                <div class="content">
                    <h3>{{hotel.title}}</h3>
                    <p>{{hotel.desc}}</p>           
                    <a href="/{{hotel.links}}" class="btn">Learn More</a>
                </div>
            </div>
            
            {% endfor %}
  
            
        </div>
    </section>

    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="hotel" class="services-area">
                <div class="text-content">
                    <h3>Nairobi City Hotels, Kenya Hotels Online Booking, Nairobi guest houses booking</h3>
                    <br>
                    <p>Affiliated with major hotel chains in Kenya as well as budget hotels and Guest Houses, Kenya Dream Holidays will get you the best hotel deals whether travelling alone, a couple, family or as a group. Having significant local knowledge, Kenya Dream Holidays will guide you on which hotels are best whether for business 
                        or for holiday makers and depending with your budget.</p>
                    <br>
                    <h3>LUXURY AND  MID RANGE HOTELS IN NAIROBI.</h3>
                     <br>
                    <p>The Sarova Stanley Hotel</p>
                    <p>Nairobi Safari Club</p>
                    <p>Sarova Panafric Hotel</p>
                    <p>Panari Hotel</p>
                    <p>Laico Regency Hotel</p>
                    <p>Nairobi Serena Hotel</p>
                    <p>Giraffe Manor Hotel</p>
                    <p>Sankara Hotel</p>
                    <p>Nangchan Hotel</p>
                    <p>Best Premier Hotel</p>

                    <br>
                    <h3>NAIROBI BUDGET HOTELS</h3>
                    <br>
                    <p>Kivi Milimani Hotel</p>
                    <p>Boulevard Hotel Nairobi</p>
                    <p>Kenya Comfort Hotel</p>

                    <a href="reservation.html" class="btn">Make A Reservation</a>
                     <br>
                </div>
            </div>
            <br>        
        </div>
    </div>


{% include 'footer.html' %}
    <!----custom  js file link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static script.js %}"></script>
</body>
    
    