{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 6 Days Amboseli, Masai Mara and Lake Nakuru Camping Safari</h3>
                    <br>
                    <h3>This safari can be a private safari or a joining safari</h3>
                    <br>
                    <h3>Day 1: Amboseli Camping</h3>
                    <p>Depart Nairobi in the morning to Amboseli National Park on the foot hill of Mt Kilimanjaro - Africa's highest mountain, arriving in time for lunch. Afternoon game drive which provides chance to see the large herds of Elephants the Game Park also contains vast groups of Zebras, Wildebeests, Giraffes, Buffalos, Hippos and Antelopes. Also to be found in Amboseli are lions and Cheeters. with Mt. Kilimanjaro, Africa highest mountain providing beautiful backdrop against the Amboseli herds of elephants. Dinner and overnight at camp</p>
                        
                         <br>
                         <h3>Day 2: Amboseli National Park</h3>
                         <br>
                         <p>Depart Nairobi at 0730hrs and travel to the Amboseli National reserve at the foot of snowcapped Mt. Kilimanjaro, Africa's highest peak. Arrive in time for lunch. Afternoon game drive is taken. Dinner and overnight at Kimana Camp.</p>
                            
                            <br>
                            <h3>Day 3. Amboseli - Nakuru</h3>
                            <br>
                            <p>Depart Amboseli in the morning Via Nairobi for lunch and drive to the Great Rift Valley viewing sceneries enroute, arriving to the Pink Lake often referred so due to it’s Great masses of Flamingos. Arrival is in the early evening and check in at your hotel for dinner and overnight.</p>

                                <br>
                                <h3>Day 4: Nakuru - Masai Mara</h3>
                                <br>
                                <p>
                                    Morning game drive to watch and photograph Birds and wild animals. late morning depart for Masai Mara with a stop enroute for lunch.  The Maasai Mara's 1510 square kilometers of open savannah, grass land an eco-system which supports huge numbers of bird and mammal species. Lions are found in abundance throughout the park, as are elephant, giraffe, a variety of gazelle species and zebra. Cheetah and leopard are also regularly seen and if lucky, you may also get to see rhinos. Dinner and overnight at camp
                                </p>
                                <br>
                                <h3>Day 5 Masai Mara
                                </h3>
                                <br>
                                <p>Full day in Masai Mara with morning and afternoon game drives. Optional visit to a local Maasai village at $25 per person or hot air balloon ride at $425 available. Meals and overnight at camp</p>
                                <br>
                                <h3>Day 6: Masai Mara- Nairobi</h3>
                                <br>
                                <p>Morning game drive then return to the campsite for breakfast .Drive back through the Masai town of Narok and stop for some souvenir shopping, before continuing across the plains to Nairobi where the safari ends.</p>
                                <br>
                                <a href="reserve/" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>

    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
