{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 7 Days Masai Mara, Lake Nakuru, Lake Naivasha and Amboseli Camping Safari</h3>
                    <br>
                    <h3>DAY 1: Nairobi - Masai Mara National Reserve</h3>
                    <p>Pick up from your hotel at 0800hrs and drive to the Masai Mara National Reserve. Lunch at the Camp/lodge. Afternoon game drive through the reserve to this endless reache s of acacia-dotted grasslands studded with hazy hills where pride of Lions, Elephants, buffalos, zebras and numerous plain animals are in abundance. Return for dinner at the Lodge/Camp and relax in comfort.</p>
                        
                         <br>
                         <h3>DAY 2: Masai Mara National Reserve</h3>
                         <p>Morning game viewing with a long drive to the Mara river where you will be able to view Hippos and Crocodiles. After lunch, proceed for an afternoon game drive viewing. All meals and overnight at the Camp/Lodge.</p>
                            
                            <br>
                            <h3>DAY 3: Masai Mara - Lake Nakuru</h3>
                            <br>
                            <p>Morning game drive, then return to the camp/lodge for breakfast. After breakfast drive to Nakuru with lunch enroute. Lake Nakuru is a soda lake and is home to the Greater and Lesser Flamingos. At times you may see a lion crawling on the waters edge, or if you are a bird lover you will spot different bird species. Dinner and overnight at a Budget hotel outside the park.</p>

                                <br>
                                <h3>DAY 4: Lake Nakuru National Park - Lake Naivasha</h3>
                                <br>
                                <p>
                                    Early breakfast, then proceed to Lake Naivasha. This is one of the Rift Valley's fresh water Lakes with different ecology from that of the Soda Lakes. It is also home to a large variety of bird species. After lunch drive to Crater Lake/cresent Island which offers an evocative step back in time - to a bygone era of elegance and romance, in a wilderness untouched by the modern world with a private game sanctuary at a homely environment. Crater Lake offers classic escapes including painting, astrology, as well as ornithological outings to what must be one of the most beautiful small Lakes in creation. All meals and overnight the Camp.
                                </p>
                                <p>Optional activities at lake Naivasha are boat ride to view hippo and a wealth of bird life.</p>
                                <br>
                                <h3>DAY 5: Lake Naivasha - Amboseli National Park</h3>
                                <br>
                                <p>Depart early in the morning towards Amboseli via Nairobi, Lunch at the Camp followed by afternoon game drive. Amboseli is famous for its unforgettable views of Kilimanjaro, and a relaxed abundant population of elephants as well as prolific bird life. All meals and overnight at the Camp.</p>
                                <br>
                                <h3>Day 6: Amboseli National Park</h3>
                                <br>
                                <p>Morning and afternoon game drives where Mount Kilimanjaro background offers a good photographic scenery with herds of Elephants and other animals on the background. All meals and overnight at the Campsite</p>
                                 <br>
                                 <h3>DAY 7: Amboseli - Nairobi.</h3>
                                 <p>After breakfast, drive back to Nairobi where you arrive at around 1500hrs Lunch enroute. On arrival in Nairobi you are dropped at your town hotel or at the airport.</p>

                                <br>
                                <a href="reserve/" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
