{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 7 Days 6 Nights Tsavo East / Tsavo West / Amboseli / Lake Nakuru / Masai Mara Camping Safari</h3>
                    <br>
                    <h3>Day 1: Nairobi - Tsavo East</h3>
                    <br>
                    <p>Pick up from your Nairobi hotel or Airport in the morning drive to Tsavo East national pack which is renowned for its large numbers of elephants and the famous man eating lions Game en route to Ashnil Aruba lodge .Check in and have lunch at your lodge. In the afternoon, another game drive at the park later return to your lodge for dinner and overnight at Sentrim tsavo .</p>
                        
                         <br>
                         <h3>Day 2: Tsavo East - Tsavo West</h3>
                         <br>
                         <p>Early morning game drive return to your lodge for breakfast, after breakfast leave Tsavo East for Tsavo West Game en route to Ngulia lodge. Check in and have lunch. In the afternoon, visit the rhino sanctuary and return to the lodge where there is usually a leopard trap and if you are lucky you will see it . Dinner and overnight at the Ngulia bandas</p>
                            
                            <br>

                            <h3>Day 3: Tsavo West-Amboseli</h3>
                            <br>
                            <p>Early breakfast, then proceed for a morning game drive with a visit of Mzima Springs, where you can see hippos and fish in a crystalline clear water. There are possibilities of seeing crocodiles and monkeys. Later proceed to Amboseli National park arriving in time for lunch and check in at Kimana Camp or Kibo Safari camp. Afternoon game drive within the Amboseli which lies at the floors of Mount Kilimanjaro. Mount Kilimanjaro offers scenic backgrounds for photography. Elephants, Lions, Cheetah, Buffalo etc. can be seen at the swamp area. Dinner and overnight at Kimana camp</p>

                                <br>
                                <h3>Day 4: Amboseli - Lake Nakuru</h3>
                                <br>
                                <p>
                                    Early morning break fast game en-route leave Amboseli for Lake Nakuru arriving in time for lunch and check in at Flamingo tented camp have lunch and relax. Later afternoon game drive to see one of the largest ornithological spots, Flamingo, and a variety of wildlife not forgetting the famous white Rhino and black rhino found in this park. Dinner and overnight at Flamingo Tented camp.
                                </p>
                                <br>
                                <h3>Day 5: Lake Nakuru - Masai Mara</h3>
                                <br>
                                <p>Early morning breakfast . After breakfast leave Lake Nakuru for Masai mara arriving in time for lunch. check in at Fisi camp or Ol Moran Tented camp and have lunch. Afternoon game drive through the park in search of the Lion, Cheetah, Elephant, Buffalo . Dinner and overnight at at Fisi camp or Ol Moran Tented camp.</p>
                                <br>
                                <h3>Day 6 : Masai Mara</h3>
                                <br>
                                <p>Early breakfast, after breakfast Full day spend in the park with packed lunch in search of its popular residents like the well known predators and their opponents like the Zebra, Wildebeest, Giraffe, Hippo and the dangerous Crocodiles with a visit to Mara river. Meals and overnight at at Fisi camp or Ol Moran Tented camp</p>
                                <br>
                                <h3>Day 7 : Masai Mara - Nairobi</h3>
                                <br>
                                <p>Early Morning gamedrive back to camp for  breakfast at your camp, check out of the camp  and Drive backto Nairobi  drop off at your respective hotel or Airport</p>
                                <br>
                                <a href="reserve/" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
