{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
   
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3>  6 Days Samburu, Lake Nakuru and Masai Mara Camping Safari</h3>
                    <br>
                    <h3>Day 1: Nairobi - Samburu</h3>
                    <br>
                    <p>Our driver/guide will pick you from your Nairobi hotel to take you to the dramatic semi-arid scrubland of the Northern Frontier for your 3 Day Samburu Safari by road. The safari takes you north through sisal and pineapple farmlands to the northern frontier district where you will check-in and take lunch at your Samburu safari camp. Later Take an afternoon game drive in this park before returning for dinner and overnight at your tented camp / community bandas.</p>
                        
                         <br>
                         <h3>Day 2: Samburu</h3>
                         <br>
                         <p>Full day in Samburu with morning and afternoon game drives in the semi-arid park with its striking views. This place has got abundance of trees, water and shade, which entice wildlife.</p>
                            <br>
                            <p>Have an opportunity to see the unusual reticulated giraffe, gravy zebra, Somali ostrich, beisa, oryx, vulturine, guinea fowl among others. Meals and overnight at your tented camp or community bandas.</p>
                            <br>
                            <h3>Day 3: Samburu - Lake Nakuru</h3>
                            <br>
                            <p>Early breakfast and depart for Lake Nakuru to be there by lunch time. Have an afternoon gamedrive then check in at your hotel in the evening for dinner and overnight.</p>

                                <br>
                                <h3>Day 4: Nakuru - Masai Mara.</h3>
                                <br>
                                <p>
                                    Breakfast at the hotel then and drive down the escarpment via the floor of the Great Rift Valley, to arrive at Maasai Mara Game Reserve in time for lunch, after lunch proceed for afternoon game drive. Dinner and overnight at the camp.
                                </p>
                                <br>
                                <h3>Day 5:Masai Mara.</h3>
                                <br>
                                <p>Early breakfast then depart with packed lunch for a fullday of game searching and exploring the Mara plains.
                                    Dinner and overnight at the camp.</p>

                                    <br>
                                    <h3>Day 6: Masai Mara - Nairobi</h3>
                                    <br>
                                    <p>Early morning gamedrive back to camp for breakfast then depart for Nairobi arriving late afternoon.</p>
                                <br>
                                <a href="reserve/" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>


{% include 'footer.html' %}
<!----custom  js file link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static script.js %}"></script>
</body>
</html>
