{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
   
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days Amboseli wildlife Camping safari</h3>
                    <br>
                    <p>Amboseli are the plains below Mt. Kilimanjaro. The waters from melted snow drain down the mountain under lava flows and surface in Amboseli, creating a green belt of swampland amidst dusty plains. Here, hippo, elephant and birdlife can be seen against the backdrop of the magnificent snow-capped mountain.
                        mboseli National Park is often referred to as "The home of Elephants' some of the largest Elephant herds are found here. The Game Park also contains vast groups of Zebras, Wildebeests, Giraffes, Buffalos, Hippos and Antelopes. Also to be found in Amboseli are lions and Cheeters.</p>
                        
                         
                            <br>
                            <h3>Day 1: Nairobi - Amboseli</h3>
                            <br>
                            <p>Depart Nairobi at 0730hrs and travel to the Amboseli National reserve at the foot of snowcapped Mt. Kilimanjaro, Africa's highest peak. Arrive in time for lunch. Afternoon game drive is taken. Dinner and overnight at Kimana Camp.</p>

                                <br>
                                <h3>Day 2: Amboseli</h3>
                                <p>
                                    After an early breakfast depart with packed lunch for a full day of game searching.Back to camp later for dinner and overnight.
                                </p>
                                <br>
                                <h3>Day 3: Amboseli - Nairobi</h3>
                                <p>Pre-breakfast game drive, back to camp for breakfast and depart for Nairobi arriving in the afternoon.</p>
                                <br>
                                <a href="reserve/" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>

{% include 'footer.html' %}
<!----custom  js file link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static script.js %}"></script>
</body>
</html>
