{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days Kenya Budget Camping Safari</h3>
                    <br>
                    <h3>3 Day Samburu budget camping Safari</h3>
                    <p>The Samburu National Reserve is located on the banks of the Ewaso Ng'iro river in Kenya. On the other side of the river is the Buffalo Springs National Reserve. The park is 165 km² in size and is situated 350 kilometers from Nairobi. The Samburu National Reserve was one of the two areas in which conservationists George Adamson and Joy Adamson raised Elsa the Lioness made famous in the best selling book and award winning movie Born Free.</p>
                        
                         <br>
                         <p>The Samburu National Reserve is also the home of Kamunyak, a lioness famous for adopting oryx calves.
                        </p>
                            
                            <br>
                            <h3>Day 1: Nairobi - Samburu</h3>
                            <br>
                            <p>Our driver/guide will pick you from your Nairobi hotel or airport to take you to the dramatic semi-arid scrubland of the Northern Frontier for your 3 Day Samburu Safari by road. This safari takes you north through cultivations of sisal and pineapple to the northern frontier district where you will check-in and take lunch at your Samburu budget camp. Take an afternoon game drive in this park before returning for dinner and overnight at your tented camp / community bandas.</p>
                                <br>

                                <h3>Day 2: Samburu</h3>
                                <br>
                                <p>
                                    Full day in Samburu with morning and afternoon game drives in the semi-arid park with its striking views. This place has got abundance of trees, water and shade, which entice wildlife.
Have an opportunity to see the unusual reticulated giraffe, gravy zebra, Somali ostrich, beisa oryx, vulturine, guinea fowl among others. Meals and overnight at your tented camp or community bandas.
                                </p>
                                <br>
                                <h3>Day 3: Samburu National Park tour - Nairobi
                                </h3>
                                <br>
                                <p>After breakfast, check-out of your Samburu camp then depart for Nairobi with an exit game drive. Arrive Nairobi in late afternoon</p>

                                <br>
                                <a href="reserve/" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>



{% include 'footer.html' %}
<!----custom  js file link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static script.js %}"></script>
</body>
</html>
