{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
 
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3> 3 Days Masai Mara Budget Camping Safari or 3 Days Masai Mara Joining Camping safari.</h3>
                    <br>
                    <p>The Masai Mara is Kenya's most celebrated game park, it offers the possibility of seeing "the big five" and many other species of game. This is where the great wildebeest migration is a spectacle to behold for any would be visitor to Kenya mainly in July and August of each year.</p>
                        
                         <br>
                         <p>This safari can be a private safari or a joining budget camping safari where you share the vehicle with other guests and the cost is very reasonable at only USD 360 per person Valid from January to December.</p>
                            <br>
                            <h4>For Private option cost depends on number of guests.</h4>
                            <br>
                            <p>3 Days Masai Mara Camping Safari Package to Masai Mara for migration with accomodations at self contained budget tented camps e.g Fisi camp,  Mara sidai Camp, Rhino Tourist Camp, Miti Mingi Eco Camp or Manyatta Camp.</p>
                            <br>
                            <h3>DAY 1: NAIROBI / MASAI MARA</h3>
                            <br>
                            <p>08.30 hrs: Leave Nairobi for the Famous Masai Mara Game reserve with a brief stop at the Rift Valley view point, then proceed to arrive at the camp in time for lunch or have an early lunch at Narok. On arrival check in and later at 1600hrs go for an afternoon gamedrive till 1800hrs and go back to camp for dinner and overnight.</p>
                             <br>
                                 <h3>DAY 2: MASAI MARA</h3>
                                <br>
                                <p>Have an early breakfast and depart from camp for a full day of exploring the Mara plains in search of the numerous wild animals and if it's during the great migration go to the river and witness the spectacle. Have packed lunch in the wilderness. late afternoon or early evening go back to camp for dinner and overnight. On this day if you would like to take a ballon flight for an aerial game viewing it can be organized for early in the morning at an extra cost of USD 430 Per person.
                                </p>
                                <br>
                                <h3>DAY 3: MASAI MARA / NAIROBI</h3>
                                <p>
                                    Early morning gamedrive at 0630hrs back to camp for breakfast then depart for Nairobi.
                                </p>

                                <br>
                                <a href="reserve/" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>


    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
