{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <h3>3 Days Masai Mara Lodge Safari</h3>
                    <br>
                    
                      <br>
                      <h3>Day 1:Nairobi-Masai Mara</h3>
                        <p>Depart Nairobi in the morning and drive down the escarpment via the 
                            floor of the Great Rift Valley, to arrive at Masai Mara Game Reserve in time for lunch. Lunch enroute. Later proceed for an afternoon game drive to chance to see one of the active hours of hunters for a meal.. 
                            Dinner and overnight at Mara Sopa Lodge or AA lodge Masai Mara or Similar.</p>
                        <br>
                        
                        <br>
                        <p>
                            Early breakfast and depart with packed lunch for a full day of game viewing and exploring the Mara Plains
                             This game reserve is Kenya's finest wildlife sanctuary. Including migrants, well over 450 species of
                              animals have been recorded here. Although July, August and September are the months when the Mara
                               plains are filled with migrating wildebeest and zebra, there is also resident wildlife year round.
                                The famous Maasai tribesmen live within the dispersal area of the game reserve. Meals and overnight at lodge.
                        </p>
                        <br>
                        <h3>Days 2: Masai Mara</h3>
                        <p>Optional activities like a balloon flight can be taken this day and also a visit to a Maasai village</p>
                        <br>

                        <br>
                        <h3>Day 3:Masai Mara -Nairobi</h3>
                        <p>Early morning gamedrive then back to the lodge for breakfast. After breakfast start journey back to Nairobi, make a stopover at Narok town with a chance to buy a souvenir or a cup of tea to arrive back in by late afternoon.</p>
                   
                     <br>
                     <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>






{% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
