{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
     
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <br>
                    <h3>7 Days Western Kenya Safari, Kisumu, Ndere National Park, Kakamega Forest, Homa Bay and Ruma National Park.</h3>
                    <br>
                    
                      <br>
                          <h3>DAY 1: NAIROBI - KISUMU</h3>
                          <p>Leave Nairobi in the morning, have lunch at Kericho. Walk in the tea plantations then drive via Lwanda Magere (the Luo warrior who was killed and turned into a stone) continue to Kisumu for dinner and overnight.
                            kit mikaye</p>

                            <br>
                            <h3>DAY 2: NDERE ISLAND NATIONAL PARK - KAKAMEGA</h3>
                            <p>After breakfast drive to Kaloka beach, take a boat to Ndere Island national park see some game and bird life. Row the boat back to Kaloka beach. Drive via Kit- Mikaye ( This rock is where Mikaye the mother of Luo tribe sheltered herself after along journey down the Nile) drive back to Kisumu for Lunch. I n Kisumu the tour takes you to Impala park, Kisumu Museum and Dunga beach (optional). Drive to Kakamega arriving late evening, dinner and overnight.</p>
                            <br>
                            <h3>DAY 3: KAKAMEGA FOREST - KISUMU :</h3>
                            <p>After breakfast, full day exploration of Kakamega forest in search of birds, butterflies and animals such mammals  Primates, Bushback, Red and blue Duikers, Bush pigs, Porcupines and at night Flying squirrels, Hammer Headed fruit bats, Tree pangolins, poto, Mongoose along the rivers Clawless otter. Over 30 varieties of snakes including the deadly gaboon viper, Jamesons mamba and black mamba are found here among other animals. Great and very old indigenous trees, some are hundreds of years old. Drive to Kisumu for dinner and overnight.</p>
                            <br>
                            <h3>DAY 4: KISUMU - HOMA BAY</h3>
                            <p>Leave Kisumu after breakfast, drive southwards through rice plantations in Kano plains to Odino falls and after a brief stop, continue to Kendu bay for lunch. Proceed to Simbi Nyaima for bird viewing in this small lake, and then onwards to Kanjira and Kanam hot springs before continuing to the small town of Homa bay for dinner and overnight.
                                Lake Victoria</p>

                            <br>
                            <h3>DAY 5: HOMA BAY -RUSINGA - MBITA</h3>
                            <p>Drive to Rusinga, do a tour of the Island to the historical places including the museum (where the remains of the first man were found) by Doctor Louise Leakey, visit Tom Mboya Mausoleum where this accomplished nationalist cum- politician was buried. After his assassination on a Nairobi street. Return to Mbita for dinner and overnight.</p>

                            <br>
                            <h3>DAY 6: MBITA- RUMA NATIONAL PARK - AWENDO</h3>
                            <p>Depart after breakfast, drive through hills and meandering road to Ruma national park with a picnic lunch do game drive {The park protects the only indigenous population of rare roan antelopes within Kenya} then drive out to Thim Lich Ohinga onto Gogo falls then to Awendo for dinner and overnight</p>
                            <br>
                            <h3>DAY 7: AWENDO - NAIROBI</h3>
                            <p>Depart Awendo, driving through sugar plantations to Tabaka where you can buy Kisii soapstones - for this is the home of these famous carvings. Partake of lunch en route then proceed to Nairobi where you arrive in the late evening.</p>

                   
                     <br>
                     <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>
   

    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
