{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <h3>7 Days Aberdares, Sweetwaters, Lake Nakuru and Masai Mara
                        Kenya luxury lodge safari</h3>
                    <br>
                    
                      <br>
                        <h3>Day 1: Nairobi- Aberdares National Park</h3>
                        <p>Pick up from your hotel at 0800 hrs – Passing through the industrial town of Thika and the intensely cultivated farms of the central Kenya. Lunch at the Out span hotel Nyeri or Aberdare Country Lodge before transferring to the Treetops hotel/Ark Hotel. Dinner and overnight stay at the Treetops hotel/Ark Hotel.</p>
                       
                        <br>
                        <h3>Day 2 : Aberdares – Sweetwaters Tented Camp / Ol Pajeta.</h3>
                        <p>Breakfast then proceed to Mount Kenya region and take a full afternoon visit to Sweetwater’s game ranch. Dinner and overnight stay at Sweetwater’s tented camp.</p>
                        <p>Ol Pajeta is the only sanctuary for rehabilitation in Kenya of abused chimpanzees with two groups living in an environment as close to their natural habitat as possible. The site is also a dedicated black rhino breeding area.</p>

                        <br>
                        <h3>Day 3: Sweetwaters / Ol Pajeta – Lake Nakuru National park</h3>
                        <p>Breakfast then depart the lodge for Lake Nakuru National park arriving in good time for lunch at a Lodge. Full afternoon game drives followed by dinner and overnight stay at Lake Nakuru Lodge/Sarova Lions hill Game Lodge.</p>
                         <br>
                         <p>Lake Nakuru's claim to fame is anchored on its flamingo's and the over 400 species of birds found here. The lake itself is a soda lake on the floor of the rift valley. The sight of the at times millions of flamingos is quite spectacular. From a distance the lake appears ringed in pink. The Lake has also earned a reputation as an important haven for endangered species- particularly the Rothschild Giraffe and the black and white rhino. Lions, waterbuck, buffalo and baboons are all residents here.</p>
                         <br>
                         <h3>Day 4 Lake Nakuru – Masai Mara</h3>
                         <p>Drive to via the Great Rift Valley to arrive at Masai Mara in time for lunch at Mara Leisure Lodge or Sarova Mara Game Camp. Full afternoon game drive till dusk.</p>
                          <br>
                          <h3>Day 5 : Masai Mara</h3>
                          <p>Full day spent exploring the park in search of the big 5- Optional balloon safari can be arranged at an extra cost of US$ 420 per person or a visit to Masai village US$25 per person</p>
                          <br>
                          <p>The Mara offers wildlife in such variety and abundance that it is difficult to believe: over 450 species of animals have been recorded here. You will easily see lions, rhinos, hippos, crocodiles, giraffe, wildebeests, zebras, buffalo, warthogs, hyenas, jackals, wild dogs, buffalo, leopard, many kinds of antelopes and elephant. It is in the Mara that perhaps the most spectacular event of the natural world takes place. This is the annual migration of millions of wildebeest and zebra from the Serengeti (Tanzania) in search of water and pasture. Following on their heels are the predators of the savanna- lion, cheetah, wild dog, jackal, hyena and vultures.
                        </p>
                         <br>
                         <h3>Day 6 : Masai Mara -Nairobi</h3>
                         <p>Morning game drive then return to Nairobi after breakfast, where the safari ends.</p>
                         <br>
                         <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>

    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
