{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <h3>10 Days Kenya road safari Package.</h3>
                    <br>
                    
                      <br>
                        <h3>Day 1: NAIROBI</h3>
                        <p>On arrival you will be meet by Kenya dream Holidays representative who will transfer you to a city hotel for overnight.</p>
                        <p>Accommodation at Sarova Panafric Hotel or Nairobi Safari Park Hotel. </p>

                        <br>
                         <h3>Day 2: NAIROBI –SAMBURU</h3>
                         <p>You depart Nairobi early in the morning for Samburu trans-versing through Kenya highlands and to the Samburu national reserve on the northern part of Kenya. You arrive in time for lunch and afternoon relaxation. Games drives awaits you in the afternoon as the driver shows you the best of this place.</p>
                         <br>
                         <p>The reserve have unique species not found in other parks like Gravy Zebra, Somali ostrich, Besia Oryx,  others are Reticulated Giraffe, Greater and Lesser Kudu, Gerenuk, lions, Elephants and many species of birds. Meals and overnight at Samburu Lodge/ Sopa lodge. </p>
                         <br>
                         <h3>DAY 3: SAMBURU</h3>
                         <p>You will have a morning and afternoon gamedrive and in between you can just relax at the swimming pool or the lodges gardens or visit a Samburu village and see how the Maasai cousins live. </p>
                         <br>
                         <h3>DAY 4: SAMBURU –OL PEJETA.</h3>
                         <p>Depart Samburu lodge at 0800hrs with a gamedrive enroute. Arrive at Olpajeta conservancy by/around 1230hrs and check in at Sweetwaters tented camp and have lunch. After lunch go for an afternoon gamedrive.</p>
                         <br>
                         <p>Ol Pejeta boasts an astounding variety of animals including non-indigenous chimpanzees and the Big Five. It’s also one of the largest sanctuaries for the black rhinos. Accommodation at Sweet waters tented camp/the stables. </p>
                         <br>
                         <h3>DAY 5:  OL PEJETA CONSERVANCY – LAKE NAIVASHA.</h3>
                         <p>After breakfast depart with a mini gamedrive for Lake Naivasha. Arrive in time for lunch and after lunch just relax at the lodge or go for an optional boat ride at the Lake with a walking tour at Crescent Island. Meals and overnight at hotel. </p>
                         <br>
                         <h3>DAY 6: LAKE NAIVASHA –MASAI MARA.</h3>
                         <p>After an early breakfast  go to the Hells Gate National park the only park in Kenya where you are allowed to walk, cycle and do Rock climbing. A guide will walk with you to the gorges. After the walk check out of the park and depart for Masai Mara with a stop at Narok town for lunch. After lunch proceed to arrive in Masai Mara late afternoon and proceed for a gamedrive before going to the lodge for check in, dinner and overnight. Accommodation at a lodge/tented camp.
                         </p>
                         <br>
                         <h3>DAY 7: Masai Mara</h3>
                         <p>On this day you will be leave the lodge/tented camp after breakfast with packed lunch for full days of exploring the Masai Mara plains and going to the river to witness the great migration if its during the great wildebeest migration July -October.</p>
                         <p>Back to the lodge/tented camps in the evening for dinner and overnight.</p>
                         <br>
                         <h3>DAY 8: MASAI MARA – AMBOSELI.</h3>
                         <p>After breakfast depart for Amboseli National park. It’s a long drive with a stop in Nairobi for lunch.Arrive in the evening time permitting  you can have a gamedrive enroute or go directly to lodge/camp.</p>
                         <br>
                         <h3> DAY 9: AMBOSELI.</h3>
                         <p>Have an early morning gamedrive back to the lodge for breakfast. After breakfast go for another gamedrive till lunch time. After lunch relax till 1600hrs for the afternoon gamedrive. </p>
                         <br>
                         <h3>DAY 10: AMBOSELI – NAIROBI.</h3>
                         <p>After breakfast check out of the lodge/camp and depart for Nairobi arriving at around 1400hrs and dropped off at the airport/hotel.</p>
                     <br>
                     <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>
    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
