{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <h3>5 Days Lake Nakuru, Lake Naivasha and Masai Mara Lodge Safari</h3>
                    <br>
                    
                      <br>
                        <h3>Day 1:Nairobi - Lake Nakuru</h3>
                        <p>Depart from Nairobi at 0800hrs, on the way you stop at great rift valley view 
                            point to take the photos.After the photos proceed on to Lake Nakuru arrving 
                            around 10:30am.Check in the park and the entire day game viewing at Lake 
                            Nakuru National Park, where you will have a chance to visit a unique 
                            sanctuary catering for a sizeable number of the endangered rhinocerous 
                            and the Rothschild giraffe. Waterbucks as well as the predators such as 
                            the lion and leopard are common at the park. 
                            Also to be seen is a myriad different variety of birdlife in and around 
                            the lake.</p>
                            <br>
                            <p>Flamingoes are also plenty at the lake.On this day you will have your lunch
                                 at the picnic site at the top of criff as you view the back drop of the Lake.
                                 After lunch proceed for another game drive which takes you untill around 
                                 1800hrs,then leave 
                                the park and head to the Hotel or in the Guest house for dinner and overnight.</p>

                                <br>
                                <h3>Day 2: Lake Nakuru - Lake Naivasha</h3>
                                <p>After breakfast leave Lake Nakuru and head to Lake Naivasha,this is also a 
                                    fresh water lake which is also inhabited by birds and other game, have 
                                    the boat ride in Lake Naivasha. The whole day spend in 
                                    Naivasha dinner and overnight at Naivasha Kongoni lodge/ Sopa lodge or similar</p>

                                    <br>
                                    <h3>Day 3: Lake Naivasha - Masai Mara</h3>
                                    <p>After breakfast depart Naivasha in the morning and drive down the escarpment via the 
                                        floor of the Great Rift Valley, to arrive at Maasai Mara Game Reserve 
                                        in time for lunch,after lunch proceed for afternoon game drive.
                                        This will take you untill 1830hrs. Dinner and overnight at lodge</p>
                                    
                                        <br>
                                        <h3>Day 4: Masai Mara full day</h3>
                                        <p>The whole day explore the parks amazingly high concentration of game. 
                                            Mara plains are filled with migrating wildebeest and zebra, there
                                             is also resident wildlife year round. Located 268 kms west of
                                              Nairobi, the emphasis here is on game. Herds of immense Elephants, 
                                              browse among Lion, Buffalo, Thompson's Gazelle, Zebra and Topi. 
                                              You may occasionally sight a Rhino or Leopard. In the Mara River
                                               Hippos play and Crocs bask on the banks. The annual migration
                                                of a million Wildebeest follows the rains north. 
                                            After exploring the park return to the lodge for dinner and overnight.</p>

                                            <br>
                                            <h4>Note:</h4>
                                            <p>This is the same day you can do the balloon safari in the morning as from 
                                                06:00am untill 08:00am,then after landing and having your bush breakfast you 
                                                will picked after and proceed for the whole day game drive as the program above.</p>

                                                <br>
                                                <h3>Day 5: Masai Mara - Nairobi</h3>
                                                <p>After breakfast you can either have an early morning game drive as from 06:00am
                                                     untill 09:30am,return to the lodge for breakfast as you check out or vice 
                                                     versa and 
                                                    head back to Nairobi arriving late afternoon with a drop off to the airport or hotel.</p>
                     <br>
                     <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>
    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
