{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
     
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <h3>15 Days Kenya Safari to  Sweetwaters, Aberdares, Lake Nakuru, Lake Naivasha, Masai Mara and Mombasa bush and beach safari</h3>
                    <br>
                    
                      <br>
                         <h3>DAY 1: ARRIVAL NAIROBI</h3>
                         <p>On arrival at the Jomo Kenyatta International airport, you will be met and transferred to the Sarova Panafric Hotel for overnight. (BB)</p>

                         <br>
                         <h3>DAY 2: Nairobi</h3>
                         <p>After breakfast spend the Day exploring the city of Nairobi with activities e.g. visit  ,National museum, city tour, Giraffe centre and Karen Blixen. Overnight: Sarova Panafric Hotel.</p>

                         <br>
                         <h3>DAY 3: Nairobi -Aberdares National park.</h3>
                         <p>ourney north, passing  Thika, which boasts the World's third largest pineapple plantation,  lunch at the Outspan hotel ,Afterwards transfer to Tree tops for overnight game viewing .A uniquely shaped lodge tucked away in the Aberdare National Park Forest .The lodge water-hole and salt link are well lit at night when the animals come to drink and a well concealed "hide" affords eye-eye veiwing of forest Elephant and other game ,including the endangered Rhino. </p>
                         <br>
                         <p>Please look out for : Baboon, Buffalo, Bushback pig, Civets, Duikers, Giant forest Hog, Colobus and Syke's Monkeys. The birdlife includes some species not common in other places among them being : Green Ibis, Rufous, Sparrow Hawk, Mountain Buzzard, Crowned Eagle and silvery-Cheeked Hornbill. Note: Warm clothing is advisable as nights tend to be chilly, but only an overnight bag is required. The rest of the luggage is stored at the Outspan hotel. Children below 7 years not permitted. Overnight Tree tops lodge.</p>
                         <br>
                         <h3>Day 4: Tree Tops - Sweetwaters Tented camp / Ol Pajeta Conservancy</h3>
                         <p>After breakfast at the treetops Morning transfer to Outspan hotel for breakfast. Rejoin your driver guide and proceed to the Sweetwater's tented camp arriving for lunch. Afterwards proceed for afternoon game drive, Dinner and Overnight Sweetwaters Tented Camp</p>
                         <br>
                         <h3>DAY 5: Ol Pajeta Conservancy - Lake Nakuru</h3>
                         <p>Depart for  Lake Nakuru National Parkafter breakfast with a brief stop at the Thomson Falls. You'll arrive at the Lion Hill Lodge -affording unforgettable views of the Lake from its hillside perch. The lodge also is a perfect base from which to explore the Lake, with its fabulous array of birds as well as many types of game, including waterbuck, rhino, leopard and buffalo. Afternoon game drive in the park .A game drive in Nakuru National park which is, of course, know for its birdlife -as thousands of flamingoes make this Lake their home among hundreds of other species .But wildlife is also in abundance here. You'll see large large numbers of waterbuck, warthog, impala buffalo, plain game, cheetah and Rhino as Nakuru National park remains one of the Kenya's Rhino sanctuary. Dinner and overnight Lion Hill Lodge or similar.</p>
                         <br>
                         <h3>DAY 6: Lake Nakuru - Lake Naivasha</h3>
                         <p>Breakfast at the lodge then depart for Naivahsa with a brief gamedrive enroute.On arrival at your lodge check in and relax. AFter lunch visit the cresent Island where you can have a walking safari among herds of Zebra, wildebeest gazelle and giraffe, because of the absence of predators.. Optional boat ride can also be organized at an extra cost. Dinner and overnight at Naivasha Sopa lodge or similar.</p>
                         <br>
                         <h3>DAY 7: Naivasha - Masai Mara.</h3>
                         <p>This reserve is situated to the west of Nairobi, on Tanzania's northern border-it is the extension to the larger Serengeti National Reserve in Tanzania. The Masai Mara offers wonderful scenery and abundance as existed a century ago. It is a reserve of breathtaking vistas, panoramas of vast rolling plains, hills and woodland groves, well watered by the lovely Mara River which bisects the reserve from north to south .The Mara is the home to the largest population of lions in Kenya, these magnificent beasts spending most of the day sleeping in the shade of acacia trees. Vast herds of buffalo, Zebra, and wildebeest roam the plains.</p>
                         <br>
                         <p>Impala, gazelle, giraffe and hartebeest grace the landscape, and the cautious topi may also be seen standing sentinel on earth mounds on constant look-out of predators. The waters of the Mara River are home to crocodiles and pools of hippo, the acacia woodlands and revering forests favoured by leopard and elephant, and the open savannah and dry bush areas play host to the plain's game and their attendant predators such as Lion, cheetah , hyena and jackal. Accommodation at Mara Serena Lodge, Sarova Mara Game Camp or similar.
                        </p>
                        <br>
                         <h3>DAY 8&9: Masai Mara Full day.</h3>
                         <p>Have optional of choosing between morning and afternoon gamedrives or full day game drives where you have packed lunch in the wilderness. This is also the day/s a balloon flight can be organized if interested  to experience the aerial view of the Majestic Mara Plains.</p>
                         <br>
                         <h3>DAY 10: Masai Mara - Nairobi - Mombasa</h3>
                         <p>After breakfast drive to Nairobi and transfer to Wilson airport or JKIA for your 1 hour flight to Mombasa where on arrival you will be met by our representative and transfered to your beach hotel. Accommodation at Mombasa Serena Beach resort, Neptune hotels, Diani beach resort & Spa or similar.

                            DAY 11, 12, 13 & 14</p>
                            <br>
                            <h3>DAY 15: DEPARTURE BACK HOME</h3>
                            <p>After breakfast transfer to the airport for departure flight Home.</p>
                     <br>
                     <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>
    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
