{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
     
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <h3>7 Days / 6 Nights Amboseli, Tsavo west bush and Beach Safari
                        7 Days Kenya bush and beach Safari.
                        The safari can also start from Mombasa</h3>
                    <br>
                     
                    
                      <br>
                        <h3>Day 1: Nairobi–Amboseli</h3>
                        <p>Depart Nairobi in the morning for Amboseli National park on the foot of the snow capped Mt. Kilimanjaro, Africa's highest mountain. Lunch at a lodge. Afternoon game drives in the park in search of herd of elephant strolling across the plains with the snow-capped peak of Kilimanjaro in the background.
                        </p>
                        <p>Accommodation: Amboseli Sopa Lodge or Similar</p>
                      <br>
                       <h3>Day 2: Amboseli</h3>
                        <p>A full day in this photogenic park. Awake to the noisy calls of the birds and set off for sunrise game drives when early predators are hunting. Amboseli means 'the place of water' in Maasai language. The park has an endless supply of water which is filtered through thousands of meters of volcanic rock from Mount Kilimanjaro. Animal species seen include elephant, zebra, wildebeest, giraffe, impala and leopard. The birdlife seen here includes pelican, bee eater, kingfisher, African fish eagle and pygmy falcon. Amboseli is one of the most popular parks and offers excellent accommodation facilities.</p>
                        <p>Meal: Breakfast, Lunch and Dinner</p>
                        <p>Accommodation: Amboseli Sopa Lodge or similar</p>

                        <br>
                        <h3>Day 3: Amboseli–Tsavo West</h3>
                        <p>After an early breakfast, depart for Tsavo West National Park. Tsavo West National Park contains a diversity of habitats, wildlife and a mountainous scenic landscape. The Tsavo West National Park is a vast expanse of the savanna stretching from Mtito Andei, along the Mombasa-Nairobi road and south to the Tanzanian border.</p>
                        <br>
                        <p>Tsavo West became famous through the notorious "Man Eaters of Tsavo" incident at the turn of the century, when man-eating lions were preying on the workers building the great Uganda Railway. In fact, the carriage from which they pulled a traveler is now on display in the Nairobi Railway Museum. This incident was also depicted in the popular movie "Ghost and the Darkness." Tsavo West National Park's landscape is dominated, especially off the hills by the giant baobab, a tree that is reputed to live a thousand years.</p>
                        <br>
                        <p>Mzima Springs, the chief marvel here is a favorite haunt of hippos and crocodiles. Arrival at Ngulia Safari Lodge will be in time for lunch. An early evening game drive to see large herds of elephants, buffalo, common waterbuck, eland, rhino and wide variety of antelope. Return to the lodge for dinner and overnight.</p>
                        <p>Meal: Breakfast, Lunch and Dinner</p>
                        <p>Accommodation: Ngulia Safari Lodge</p>

                        <br>
                        <h3>Day 4: Tsavo West–Tsavo East</h3>
                        <p>We depart the lodge soon after breakfast and proceed to Tsavo East National park. This park was famed for its large herds of elephant covered in red dust and fine scenery.
                            Tsavo East is a must for professional photographers for its landscapes, its lighting and is famous for its large herds of big mammals (such as its elephant herds, buffalos and lions).</p>
                            <br>

                            <h3>Tsavo East's Main Attractions:</h3>
                            <p>Yatta Plateau - one the world's largest and longest lava flow (300 km long).</p>
                            <p>Lugards Falls and the Galana River - Easy access to the rapids and possibility to spot majestic landscapes along the river.</p>
                            <p>Mudanda Rock is an outcrop rock of 1.6 km long with a large dam at its base. There is possibility to walk at the top of the rock, enjoy the cool breeze and watch wildlife drinking in the dam. The rock's water hole draws thousands of wildlife from miles.</p>
                            <p>Aruba Dam - built in 1952 across the Voi River, this dam attracts many bird species and migratory species.</p>
                            <p>Home to all of the Big 5 including large amounts of "red" elephants, black rhinoceros, buffalo and Lions.</p>
                            <p>Camel safaris and river fishing</p>
                            <br>
                            <p>At Tsavo East, one has an excellent chance of seeing impalas, buffalos, greater kudus, Defassa waterbuck, lions, cheetahs and other predators. Tsavo East has quite a few safari lodges and camps to stay. Dinner and overnight stay at Voi Safari Lodge</p>
                            <p>Meal: Breakfast, Lunch and Dinner</p>
                            <p>Accommodation: Voi Safari Lodge</p>

                        <br>
                        <h3>Day 5: Tsavo East–Mombasa</h3>
                        <p>Breakfast and then depart the lodge with game drives in the park en route to Mombasa. Arrive at1400hrs. Drop off at Pinewood Village Beach Resort in Ukunda in Mombasa's South Coast to start a beach holiday. You'll have three days in Mombasa sun bathing and relaxing under the shades of coconut trees in the terrific beaches.</p>
                        <p>Meal: Breakfast and Dinner</p>
                        <p>Accommodation: Pinewood Village Beach Resort/ Serena beach resort or similar</p>

                        <br>
                        <h3>Day 6-7: Mombasa</h3>
                        <p>Full day at Pinewood Village Beach Resort to spend as you choose. Take advantage of the many activities and local visits available or just relax and enjoy the surroundings of Pinewood Village
                            Meal: Breakfast and Dinner</p>
                            <p>Accommodation: Pinewood Village Beach Resort/similar</p>
                            
                            <br>
                            <h3>Day 8: Mombasa-Fly Home</h3>
                            <p>Today at leisure, transfer back to Moi International Airport in Mombasa for your flight to Nairobi where you will either connect onto your international flight back home.</p>
                     <br>
                     <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>

    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
