{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
     
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <h3>4 Days Masai Mara and Lake Nakuru Lodge safari</h3>
                    <br>
                    
                      <br>
                      <p>4 Days Lake Nakuru & Masai Mara Lodge Safari in Kenya Safari to Lake Nakuru
                         National Park & Masai Mara National Reserve staying at Sarova Lion Hill
                          Lodge/Lake Nakuru Lodge and Sarova Mara Camp/ Keekorok lodge, 
                          Mara Serena Game Lodge: Luxury Lodge Safaris Masai Mara and 
                          Lake Nakuru Kenya Lodge Safaris</p>

                          <br>
                          <br>
                      <h3>4 Days Lake Nakuru National Park and Masai Mara lodge Safari</h3>
                      <br>
                      
                      <h3>DAY 1: Nairobi - Masai Mara</h3>
                        <p>8.00hrs: Drive through large Kikuyu farmlands to the edge of the Rift Valley. 
                            Descend the escarpment and drive via Narok to Masai Mara Game Reserve 
                            arriving in time for lunch. Lions in Masai Mara. The Masai Mara adjoins 
                            Tanzania & Serengeti National Park . Masai Mara is famous for its Black-manned
                             and yearly migrations of wildebeest and zebra. Elephant, buffalo, rhino,
                             gazelle, leopards, giraffe are also found here. Dinner and overnight at lodge</p>
                     
                             <br>
                             <h3>DAY 2: Masai Mara</h3>
                             <br>
                             <p>A full day spent viewing and exploring this spectacular National park. All the big Five can be seen. Masai Mara is also famous for its bird life. Meals and overnight at the Lodge.</p>

                             <br>
                             <h3>DAY 3: Lake Nakuru</h3>
                             <br>
                             <p>After breakfast, check out and proceed to Nakuru to arrive in time for lunch.
                                 Game viewing drive at 1600hrs. Lake Nakuru National Park is located in the 
                                 Rift Valley 1750 meters above sea level, Lake Nakuru is known as an ornithological
                                  paradise by birdwatchers because the lake is world famous as the location of 
                                  the greatest bird spectacle on earth which boasts any where between one and
                                   two million lesser and greater 
                                pink flamingos that feed on the abundant algae thriving in the lakes warm waters.</p>
                                <br>
                                <p> It is one of the few parks that have been specifically established (Gazetted)
                                     for the protection of birds specifically flamingoes, more than 450 species of
                                      birds have been recorded here. The park has also been established for the 
                                      protection of endangered species such as the rhino and is also home to 
                                      Columbus monkeys, Leopards, Giraffes, and a variety of plain antelope. 
                                      Lake Nakuru is famous for its Pink Flamingoes and many other types of birds.
                                       There are also a number of animals in this park. 
                                    Dinner and overnight at a Sarova Lion Hill or Lake Nakuru Lodge</p>

                                    <br>
                                    <h3>DAY 4: Lake Nakuru - Nairobi</h3>
                                    <p>After breakfast spend the morning watching and photographing birds and wild 
                                        animals in the park. Depart hotel after lunch and leave for Nairobi stopping 
                                        for panoramic 
                                        views of the Great Rift Valley en-route. Arrive at Nairobi in the afternoon.</p>
                     <br>
                     <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>
   

    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
