{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
     
    <br>
    <br>
    <br>
    <br>
    <div class="content-area">
        <div class="wrapper">
            
            <div id="maldives" class="contact-area">
                <div class="text-content">
                    <h3>3 Days Amboseli Lodge safari</h3>
                    <br>
                    
                      <br>
                        <p>Amboseli is Kenya's international biosphere reserve. 
                            Amboseli in Masai language means "place of water". 
                            The park has an endless supply of water which is filtered through
                             thousands of metres of volcanic rock from mount Kilimanjaro.
                              Vast herd of elephant, zebra, wildebeest, giraffe, impala and 
                              leopards are the main attraction. Mt Kilimanjaro 
                            forms the backdrop of this game sanctuary and it is a sight to 
                            see and marvel at.</p>
                            
                            <br>
                            <h3>Day 1: Nairobi - Amboseli National Park.</h3>
                            <p>Depart Nairobi in the morning and travel to the Amboseli 
                                National reserve at the foot of snow capped Mt. Kilimanjaro,
                                 Africa's highest peak. Arrive in time for lunch. Afternoon
                                  game drive is taken.
                                Dinner and overnight at at Amboseli Serena or Oltukai lodge.</p>

                                <br>
                                <h3>Day 2: Amboseli</h3>
                                <p>After breakfast a morning game drive to this park where Mount Kilimanjaro
                                     background offers a good photographic scenery coupled with animals
                                      on the ground, The Big Five and the prolific bird life in this African 
                                      wilderness park. Lunch is served with a game drive in the afternoon 
                                      with a stop over at Masai Boma (extra payment) or Relax at the 
                                      swimming pool .
                                    Dinner and overnight at Amboseli Serena Lodge or Amboseli Oltukai Lodge.</p>
                   

                                    <br>

                                    <h3>Day 3: Amboseli - Nairobi</h3>
                                    <p>After breakfast leave the lodge for the last game drive from 0630-0900hrs, leave Amboseli National Park for Nairobi. lunch can be taken enroute at own cost. Arrive at Nairobi in the early afternoon.</p>
                     <br>
                     <a href="reserve/" class="btn">Make A Reservation</a>
                      <br>
                    </div>
            </div>          
        </div>
    </div>
    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
