{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}

    {% include 'sidebar.html' %}
    
    <br>
    <br>
    <br>
    <br>
    
    <div class="content-area">
        <div class="wrapper">
            
            <br>
            <div id="mara" class="contact-area">
                <div class="text-content">
                    <h3>10 Days / 9 Nights – Selous Game Reserve – Rufiji – Ruaha National Park – Mikumi National Park</h3>
                    <br>
                
                    <h3>Day 1: Dar Es Salaam</h3>
                    <br>
                    <p>Arrive at the Dar Es Salaam International Airport meet our tour guide and he will take you to the designated hotel in Dar Es Salaam city for late dinner and overnight at the hotel.</p>
                        
                         <br>
                         <h3>Day 2: Dar Es Salaam – Selous Game Reserve</h3>
                         <br>
                         <p>After breakfast, depart for Selous Game Reserve with picnic lunch boxes and arrive late in the afternoon for a leisure dinner and overnight at the Rufiji River Camp or other designated available accommodation.</p>
                            
                            <br>
                            <h3>Day 3: Selous Game Reserve – Rufiji River</h3>
                            <br>
                            <p>After breakfast you will take a boat for a safari along the wonderful Rufiji River, which holds the highest concentration of hippos in Africa and a big number of crocodiles. The boat safari will be accompanied
                                with an afternoon game drive before having dinner and overnight at the Rufiji River Camp.</p>

                                <br>
                                <h3>Day 4: Selous Game Reserve - Rufiji River</h3>
                                <p>
                                    After an early breakfast you will take a boat ride down the meandering river to the walking safari starting point. With an armed Ranger / Guide, you will walk through the virgin African bushes marking an unforgettable experience. Get a sauna treat at the hot water natural swimming pool before having a boat ride back to the camp for dinner and overnight at Rufiji River Camp.
                                </p>
                                <br>
                                <h3>Day 5: Selous Game Reserve – Ruaha National Park</h3>
                                <p>After breakfast you will depart for Ruaha National Park for dinner and overnight at Ruaha River Lodge or any other designated accommodation in Ruaha National Park.</p>

                                <br>
                                <h3>Day 6: Ruaha National Park</h3>
                                <p>Have a sunrise game drive and after breakfast leave with picnic lunch for a game drive until sun down when you will return to camp for dinner and overnight at Ruaha River Lodge or any other designated accommodation in Ruaha National Park.</p>
                                 
                                <br>
                                <h3>Day 7: Ruaha National Park</h3>
                                <p>After breakfast depart (with lunch boxes) for full day game drive at Ruaha National Park, return to camp late in the afternoon for dinner and overnight at Ruaha River Lodge or any other designated accommodation in Ruaha National Park.</p>
                                <br>

                                <h3>Day 8: Ruaha National Park - Mikumi National Park</h3>
                                <p>After breakfast, depart for a morning game drive before returning to the camp for lunch. Depart for Mikumi National Park for a Sundown game drive at Mikumi, dinner, and overnight at Genesis Motel Mikumi.</p>
                                <br>

                                <h3>Day 9: Mikumi National Park</h3>
                                <p>After breakfast you will depart to discover the beauty of Mikumi National Park for full day with picnic lunch returning late at the motel for a sundown dinner and Overnight at Genesis Motel Mikumi.</p>

                                <br>
                                 <h3>Day 10: Mikumi – Dar es Salaam</h3>
                                 <p>Sunrise tour of the park and return to the motel for lunch and fly to Dar Es Salaam for preparation to connect with your International flight back home.</p>
                                 <br>
                                 <a href="reserve/" class="btn">Make A Reservation</a>
                                <br>
                        </div>
            </div>
             <br>       
        </div>
    </div>



    {% include 'footer.html' %}
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
</body>
</html>
