{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="side-navbar">
        <a href="/services"> OUR SERVICES </a>
       <a href="lodge.html">KENYA ROAD SAFARIS</a>
       <a href="maldives.html">MAlDIVES PACKAGES</a>
       <a href="dubai.html"> DUBAI PACKAGES</a>
       <a href="zanzibar.html"> ZANZIBAR PACKAGES</a>
       <a href="capetown.html">SOUTH AFRICA PACKAGES</a>
       <a href="fly.html">FLYING PACKAGES</a>
       <a href="hotel.html">HOTEL BOOKING</a>
       <a href="camp.html">KENYA BUDGET CAMPING SAFARIS</a>
       <a href="mountain.html">MOUNTAIN CLIMBING</a>
       <a href="excursion.html">NAIROBI EXCURSIONS</a>
       <a href="short.html">MOMBASA SHORT SAFARIS</a>
       <a href="mara.html">MASAI MARA BALLOON RIDE</a>
       <a href="tsafari.html">TANZANIA SAFARIS</a>
       <a href="moon.html">	HONEYMOON & CONFERENCES</a>
       <a href="shopping.html">SHOPPING IN NAIROBI</a>
  
       <a href="index.html">HOME</a>
  
       
   </div>


    <!---services section ends---->
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
    </body>
  
  