{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="side-navbar">
        <a href="/services"> OUR SERVICES </a>
       <a href="/services/lodge">KENYA ROAD SAFARIS</a>
       <a href="/services/maldive">MAlDIVES PACKAGES</a>
       <a href="/services/dubai"> DUBAI PACKAGES</a>
       <a href="/services/zanzibar"> ZANZIBAR PACKAGES</a>
       <a href="/services/capetown">SOUTH AFRICA PACKAGES</a>
       <a href="/services/fly">FLYING PACKAGES</a>
       <a href="/services/hotel">HOTEL BOOKING</a>
       <a href="/services/camp">KENYA BUDGET CAMPING SAFARIS</a>
       <a href="/services/mountain">MOUNTAIN CLIMBING</a>
       <a href="/services/excursion">NAIROBI EXCURSIONS</a>
       <a href="/services/short">MOMBASA SHORT SAFARIS</a>
       <a href="/services/mara">MASAI MARA BALLOON RIDE</a>
       <a href="/services/tsafari">TANZANIA SAFARIS</a>
       <a href="/services/moon">	HONEYMOON & CONFERENCES</a>
       <a href="/services/shopping">SHOPPING IN NAIROBI</a>
  
       <a href="/">HOME</a>
  
       
   </div>


    <!---services section ends---->
    <!----custom  js file link-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static script.js %}"></script>
    </body>
  
  