{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenya Dream Holidays</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    {% include 'nav.html' %}
    
   



    
    

<section class="wrapper3">
     
    <h3>TERMS AND CONDITIONS</h3>
    <br>
     <p>Payment-Your contract for arrangements and services will become binding
        on receiving 30% deposit, which is wired to our account in Nairobi. 
       The balance should be received 30 days before commencement of the safari or paid in cash US dollars on arrival.</p>

       <br>
       <h3>Payment by credit card attracts a 5 % bank Surcharge</h3>

       <br>
       <p>Cancellation - Within the period of 30 to 8 days before commencement of the safari, a fee of 25% of the total
            cost of the safari shall apply, Within the period of 7 to 
           2 days before commencement of the safari, a fee of 50% shall apply, Within 2 days before the commencement of 
           the safari, a fee of 100% of the total cost of the safari</p>
           <br>
           <p>We reserve the right to cancel a safari in which case a full and immediate refund of all payments received will be made. (This excludes hotels and lodges which have their own terms when payment is made)</p>
           <br>
           <p>Alterations-We reserve the right to alter arrangements of the route or to cancel the operation of a scheduled safari should conditions necessitate. We also reserve the right to decline to accept or retain any person as a member of any safari at any time, in which event an equitable amount will be refunded.</p>
           <br>
           <p>Liability Travel poses risks. You are therefore advised to take adequate insurance cover as we accept no responsibility for any personal illness, injury, delays loss or damages from any cause whatsoever. We and our agents act only as agents of the passenger in all matters relating to safaris. The appropriate law of the country dictates our liability too</p>
           <br>
       </section>

       {% include 'footer.html' %}
    <!----custom  js file link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static script.js %}"></script>
</body>
